In [25]:
import numpy as np
import pandas as pd
import util
import ml_alg
import matplotlib.pyplot as plt
%matplotlib inline

In [33]:
train_path = 'dataSets/training/'
test_path = "dataSets/testing_phase1/"

In [34]:
train_df = pd.read_csv(train_path + 'data_2_0_final.csv', index_col=0)
test_df = pd.read_csv(test_path + 'data_2_0_final.csv', index_col=0)

In [35]:
train_df.head()

,volume,pressure,sea_pressure,wind_direction,wind_speed,temperature,rel_humidity,precipitation,dayofweek,hour,...,vt0_1_0_6,vt0_1_1_6,vt0_2_0_6,vt0_3_0_6,vt0_3_1_6,vt1_1_0_6,vt1_1_1_6,vt1_2_0_6,vt1_3_0_6,vt1_3_1_6
time_window,,,,,,,,,,,,,,,,,,,,,
2016-09-19 00:00:00,2,1008.2,1013.2,329,2.8,22.2,76,0.0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-09-19 00:20:00,0,1008.2,1013.2,329,2.8,22.2,76,0.0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-09-19 00:40:00,0,1008.2,1013.2,329,2.8,22.2,76,0.0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-09-19 01:00:00,1,1008.2,1013.2,329,2.8,22.2,76,0.0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-09-19 01:20:00,0,1008.2,1013.2,329,2.8,22.2,76,0.0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
test_df.isnull().sum()

volume            84
pressure           0
sea_pressure       0
wind_direction     0
wind_speed         0
temperature        0
rel_humidity       0
precipitation      0
dayofweek          0
hour               0
A2_1              70
A3_1              70
B1_1              70
B3_1              70
C1_1              70
C3_1              70
ve0_1_0_1         70
ve0_1_1_1         70
ve0_2_0_1         70
ve0_3_0_1         70
ve0_3_1_1         70
ve1_1_0_1         70
ve1_1_1_1         70
ve1_2_0_1         70
ve1_3_0_1         70
ve1_3_1_1         70
vm0_1_0_1         70
vm0_1_1_1         70
vm0_2_0_1         70
vm0_3_0_1         70
                  ..
vm1_1_0_6          0
vm1_1_1_6          0
vm1_2_0_6          0
vm1_3_0_6          0
vm1_3_1_6          0
vm2_1_0_6          0
vm2_1_1_6          0
vm2_2_0_6          0
vm2_3_0_6          0
vm2_3_1_6          0
vm3_1_0_6          0
vm3_1_1_6          0
vm3_2_0_6          0
vm3_3_0_6          0
vm3_3_1_6          0
volume_1_0_6       0
volume_1_1_6       0
volume_2_0_6       0
volume_3_0_6       0
volume_3_1_6       0
vt0_1_0_6          0
vt0_1_1_6          0
vt0_2_0_6          0
vt0_3_0_6          0
vt0_3_1_6          0
vt1_1_0_6          0
vt1_1_1_6          0
vt1_2_0_6          0
vt1_3_0_6          0
vt1_3_1_6          0
dtype: int64

In [30]:
all_df = pd.concat((train_df, test_df), axis=0)

In [31]:
all_df.shape

(2172, 316)

In [37]:
all_df.isnull().sum()

volume            84
pressure           0
sea_pressure       0
wind_direction     0
wind_speed         0
temperature        0
rel_humidity       0
precipitation      0
dayofweek          0
hour               0
A2_1              71
A3_1              71
B1_1              71
B3_1              71
C1_1              71
C3_1              71
ve0_1_0_1         71
ve0_1_1_1         71
ve0_2_0_1         71
ve0_3_0_1         71
ve0_3_1_1         71
ve1_1_0_1         71
ve1_1_1_1         71
ve1_2_0_1         71
ve1_3_0_1         71
ve1_3_1_1         71
vm0_1_0_1         71
vm0_1_1_1         71
vm0_2_0_1         71
vm0_3_0_1         71
                  ..
vm1_1_0_6          6
vm1_1_1_6          6
vm1_2_0_6          6
vm1_3_0_6          6
vm1_3_1_6          6
vm2_1_0_6          6
vm2_1_1_6          6
vm2_2_0_6          6
vm2_3_0_6          6
vm2_3_1_6          6
vm3_1_0_6          6
vm3_1_1_6          6
vm3_2_0_6          6
vm3_3_0_6          6
vm3_3_1_6          6
volume_1_0_6       6
volume_1_1_6       6
volume_2_0_6       6
volume_3_0_6       6
volume_3_1_6       6
vt0_1_0_6          6
vt0_1_1_6          6
vt0_2_0_6          6
vt0_3_0_6          6
vt0_3_1_6          6
vt1_1_0_6          6
vt1_1_1_6          6
vt1_2_0_6          6
vt1_3_0_6          6
vt1_3_1_6          6
dtype: int64

In [9]:
all_df['dayofweek'].dtypes

dtype('int64')

In [10]:
dweek = pd.get_dummies(all_df['dayofweek'], prefix='dayofweek')

In [11]:
dhour = pd.get_dummies(all_df['hour'], prefix='hour')

In [12]:
dhour.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2172 entries, 2016-09-19 00:00:00 to 2016-10-24 18:40:00
Data columns (total 13 columns):
hour_0     2172 non-null uint8
hour_1     2172 non-null uint8
hour_2     2172 non-null uint8
hour_3     2172 non-null uint8
hour_6     2172 non-null uint8
hour_7     2172 non-null uint8
hour_8     2172 non-null uint8
hour_9     2172 non-null uint8
hour_17    2172 non-null uint8
hour_18    2172 non-null uint8
hour_19    2172 non-null uint8
hour_20    2172 non-null uint8
hour_21    2172 non-null uint8
dtypes: uint8(13)
memory usage: 44.5+ KB

In [13]:
all_df.drop(['hour'], axis=1, inplace=True)
all_df.drop(['dayofweek'], axis=1, inplace=True)

In [14]:
all_df = pd.concat([all_df, dweek, dhour], axis=1)

In [16]:
all_df.isnull().sum()

volume             0
pressure           0
sea_pressure       0
wind_direction     0
wind_speed         0
temperature        0
rel_humidity       0
precipitation      0
A2_1              71
A3_1              71
B1_1              71
B3_1              71
C1_1              71
C3_1              71
ve0_1_0_1          1
ve0_1_1_1          1
ve0_2_0_1          1
ve0_3_0_1          1
ve0_3_1_1          1
ve1_1_0_1          1
ve1_1_1_1          1
ve1_2_0_1          1
ve1_3_0_1          1
ve1_3_1_1          1
vm0_1_0_1          1
vm0_1_1_1          1
vm0_2_0_1          1
vm0_3_0_1          1
vm0_3_1_1          1
vm1_1_0_1          1
                  ..
volume_2_0_6       6
volume_3_0_6       6
volume_3_1_6       6
vt0_1_0_6          6
vt0_1_1_6          6
vt0_2_0_6          6
vt0_3_0_6          6
vt0_3_1_6          6
vt1_1_0_6          6
vt1_1_1_6          6
vt1_2_0_6          6
vt1_3_0_6          6
vt1_3_1_6          6
dayofweek_0        0
dayofweek_1        0
dayofweek_2        0
dayofweek_3        0
hour_0             0
hour_1             0
hour_2             0
hour_3             0
hour_6             0
hour_7             0
hour_8             0
hour_9             0
hour_17            0
hour_18            0
hour_19            0
hour_20            0
hour_21            0
dtype: int64

In [19]:
all_df['B1_1'].describe()

count    2101.000000
mean      121.567768
std        38.362154
min        27.850000
25%       100.060000
50%       116.708889
75%       132.780000
max       760.820000
Name: B1_1, dtype: float64