In [15]:
import numpy as np
import pandas as pd
import util
import ml_alg
import matplotlib.pyplot as plt
%matplotlib inline

In [16]:
train_path = 'dataSets/training/'
test_path = "dataSets/testing_phase1/"

In [17]:
train_df = pd.read_csv(train_path + 'data_2_0_final.csv', index_col=0)
test_df = pd.read_csv(test_path + 'data_2_0_final.csv', index_col=0)

In [18]:
train_df.head()

,volume,pressure,sea_pressure,wind_direction,wind_speed,temperature,rel_humidity,precipitation,dayofweek,hour,...,vt0_1_0_6,vt0_1_1_6,vt0_2_0_6,vt0_3_0_6,vt0_3_1_6,vt1_1_0_6,vt1_1_1_6,vt1_2_0_6,vt1_3_0_6,vt1_3_1_6
time_window,,,,,,,,,,,,,,,,,,,,,
2016-09-19 00:00:00,2,1008.2,1013.2,329,2.8,22.2,76,0.0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-09-19 00:20:00,0,1008.2,1013.2,329,2.8,22.2,76,0.0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-09-19 00:40:00,0,1008.2,1013.2,329,2.8,22.2,76,0.0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-09-19 01:00:00,1,1008.2,1013.2,329,2.8,22.2,76,0.0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-09-19 01:20:00,0,1008.2,1013.2,329,2.8,22.2,76,0.0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
test_df.head()

,volume,pressure,sea_pressure,wind_direction,wind_speed,temperature,rel_humidity,precipitation,dayofweek,hour,...,vt0_1_0_6,vt0_1_1_6,vt0_2_0_6,vt0_3_0_6,vt0_3_1_6,vt1_1_0_6,vt1_1_1_6,vt1_2_0_6,vt1_3_0_6,vt1_3_1_6
time_window,,,,,,,,,,,,,,,,,,,,,
2016-10-18 08:00:00,0.0,1012.5,1017.5,128,1.6,23.4,73,0.0,0,8,...,0.0,15.0,0.0,0.0,11.0,0.0,22.0,0.0,0.0,12.0
2016-10-18 08:20:00,0.0,1012.5,1017.5,128,1.6,23.4,73,0.0,0,8,...,0.0,23.0,0.0,0.0,13.0,0.0,24.0,0.0,0.0,16.0
2016-10-18 08:40:00,0.0,1012.5,1017.5,128,1.6,23.4,73,0.0,0,8,...,0.0,41.0,0.0,0.0,32.0,0.0,31.0,0.0,0.0,18.0
2016-10-18 09:00:00,0.0,1013.0,1018.0,205,0.6,20.9,94,1.8,0,9,...,0.0,50.0,0.0,0.0,42.0,0.0,18.0,0.0,0.0,14.0
2016-10-18 09:20:00,0.0,1013.0,1018.0,205,0.6,20.9,94,1.8,0,9,...,0.0,68.0,0.0,0.0,60.0,0.0,26.0,0.0,0.0,17.0

In [21]:
all_df = pd.concat((train_df, test_df), axis=0)

In [22]:
all_df.shape

(2172, 316)

In [24]:
all_df['dayofweek'].dtypes

dtype('int64')

In [27]:
dweek = pd.get_dummies(all_df['dayofweek'], prefix='dayofweek').head()

In [30]:
dweek.head()

                     dayofweek_0  dayofweek_1  dayofweek_2  dayofweek_3
time_window
2016-09-19 00:00:00            1            0            0            0
2016-09-19 00:20:00            1            0            0            0
2016-09-19 00:40:00            1            0            0            0
2016-09-19 01:00:00            1            0            0            0
2016-09-19 01:20:00            1            0            0            0

In [28]:
dhour = pd.get_dummies(all_df['hour'], prefix='hour').head()

In [29]:
dhour.head()

,hour_0,hour_1,hour_2,hour_3,hour_6,hour_7,hour_8,hour_9,hour_18,hour_19,hour_20,hour_21
time_window,,,,,,,,,,,,
2016-09-19 00:00:00,1,0,0,0,0,0,0,0,0,0,0,0
2016-09-19 00:20:00,1,0,0,0,0,0,0,0,0,0,0,0
2016-09-19 00:40:00,1,0,0,0,0,0,0,0,0,0,0,0
2016-09-19 01:00:00,0,1,0,0,0,0,0,0,0,0,0,0
2016-09-19 01:20:00,0,1,0,0,0,0,0,0,0,0,0,0