In [1]:
import numpy as np
import pandas as pd
import util
import ml_alg
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
train_path = 'dataSets/training/'
test_path = "dataSets/testing_phase1/"

In [3]:
test_volume_data = pd.read_csv(test_path + 'volume(table 6)_test1.csv', header = 0, error_bad_lines=False)
test_weather_data = pd.read_csv(test_path + 'weather (table 7)_test1.csv', header = 0, error_bad_lines=False)
test_trajectories = pd.read_csv(test_path + 'trajectories(table 5)_test1.csv', header = 0, error_bad_lines=False)

In [4]:
test_volume_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29441 entries, 0 to 29440
Data columns (total 6 columns):
time             29441 non-null object
tollgate_id      29441 non-null int64
direction        29441 non-null int64
vehicle_model    29441 non-null int64
has_etc          29441 non-null int64
vehicle_type     12715 non-null float64
dtypes: float64(1), int64(4), object(1)
memory usage: 1.3+ MB

In [5]:
test_volume_data[test_volume_data['vehicle_type'].isnull()][test_volume_data['direction'] == 1]

/Users/Solomon/anaconda3/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':

Empty DataFrame
Columns: [time, tollgate_id, direction, vehicle_model, has_etc, vehicle_type]
Index: []

In [6]:
test_volume_data[test_volume_data['vehicle_type'].notnull()][test_volume_data['direction'] == 0]

/Users/Solomon/anaconda3/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':

Empty DataFrame
Columns: [time, tollgate_id, direction, vehicle_model, has_etc, vehicle_type]
Index: []

In [7]:
test_weather_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 9 columns):
date              56 non-null object
hour              56 non-null int64
pressure          56 non-null float64
sea_pressure      56 non-null float64
wind_direction    56 non-null float64
wind_speed        56 non-null float64
temperature       56 non-null float64
rel_humidity      56 non-null float64
precipitation     56 non-null float64
dtypes: float64(7), int64(1), object(1)
memory usage: 4.0+ KB

In [8]:
test_weather_data.describe()

,hour,pressure,sea_pressure,wind_direction,wind_speed,temperature,rel_humidity,precipitation
count,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000
mean,10.500000,1008.712500,1013.710714,162.678571,2.207143,21.191071,92.000000,0.451786
std,6.936072,3.520747,3.533357,121.204126,1.087592,1.134465,7.037562,0.827481
min,0.000000,999.400000,1004.300000,0.000000,0.500000,19.200000,68.000000,0.000000
25%,5.250000,1006.575000,1011.575000,81.750000,1.600000,20.500000,91.000000,0.000000
50%,10.500000,1008.950000,1013.950000,103.000000,2.000000,21.000000,94.500000,0.100000
75%,15.750000,1011.250000,1016.250000,323.500000,2.625000,21.700000,96.000000,0.350000
max,21.000000,1015.200000,1020.300000,357.000000,6.000000,24.500000,98.000000,3.300000

In [9]:
test_trajectories.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2336 entries, 0 to 2335
Data columns (total 6 columns):
intersection_id    2336 non-null object
tollgate_id        2336 non-null int64
vehicle_id         2336 non-null int64
starting_time      2336 non-null object
travel_seq         2336 non-null object
travel_time        2336 non-null float64
dtypes: float64(1), int64(2), object(3)
memory usage: 109.6+ KB

In [11]:
avg_volume_data = pd.read_csv(test_path + 'test1_20min_avg_volume.csv', header = 0, error_bad_lines=False)
avg_weather_data = pd.read_csv(test_path + 'test1_20min_weather.csv', header = 0, error_bad_lines=False)
avg_traveltime_data = pd.read_csv(test_path + 'processed_travel_time.csv', header = 0, error_bad_lines=False)

In [12]:
volume_weather = avg_volume_data.merge(avg_weather_data, left_on='time_window', right_on='time_window', how='outer')

In [13]:
volume_weather.head()

,tollgate_id,time_window,direction,volume,volume_model0,volume_model1,volume_model2,volume_model3,volume_model4,volume_model5,...,volume_type0,volume_type1,volume_type2,pressure,sea_pressure,wind_direction,wind_speed,temperature,rel_humidity,precipitation
0,3.0,2016-10-18 06:00:00,1.0,23.0,0.0,16.0,1.0,3.0,1.0,2.0,...,11.0,12.0,0.0,1012.5,1017.5,128,1.6,23.4,73,0.0
1,3.0,2016-10-18 06:00:00,0.0,30.0,0.0,19.0,11.0,0.0,0.0,0.0,...,0.0,0.0,30.0,1012.5,1017.5,128,1.6,23.4,73,0.0
2,1.0,2016-10-18 06:00:00,1.0,37.0,0.0,24.0,6.0,2.0,0.0,5.0,...,15.0,22.0,0.0,1012.5,1017.5,128,1.6,23.4,73,0.0
3,1.0,2016-10-18 06:00:00,0.0,13.0,0.0,13.0,0.0,0.0,0.0,0.0,...,0.0,0.0,13.0,1012.5,1017.5,128,1.6,23.4,73,0.0
4,2.0,2016-10-18 06:00:00,0.0,24.0,0.0,17.0,7.0,0.0,0.0,0.0,...,0.0,0.0,24.0,1012.5,1017.5,128,1.6,23.4,73,0.0

In [14]:
volume_weather_travel_time = volume_weather.merge(avg_traveltime_data, left_on='time_window', right_on='time_window', how='outer')

In [15]:
volume_weather_travel_time.describe(include = 'all').transpose()

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
tollgate_id,420,NaN,NaN,NaN,2,0.895494,1,1,2,3,3
time_window,840,504,2016-10-20 15:40:00,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
direction,420,NaN,NaN,NaN,0.4,0.490482,0,0,0,1,1
volume,420,NaN,NaN,NaN,70.0976,35.6832,7,41,70,99,171
volume_model0,420,NaN,NaN,NaN,0.0595238,0.79604,0,0,0,0,16
volume_model1,420,NaN,NaN,NaN,60.0881,32.0377,4,33.75,60,84,159
volume_model2,420,NaN,NaN,NaN,7.15238,6.00124,0,3,5,9,35
volume_model3,420,NaN,NaN,NaN,1.07619,1.43562,0,0,1,2,10
volume_model4,420,NaN,NaN,NaN,0.911905,1.30333,0,0,1,1,9
volume_model5,420,NaN,NaN,NaN,0.757143,1.32646,0,0,0,1,8
volume_model6,420,NaN,NaN,NaN,0.00952381,0.09724,0,0,0,0,1
volume_model7,420,NaN,NaN,NaN,0.0428571,0.214223,0,0,0,0,2
volume_etc0,420,NaN,NaN,NaN,51.35,25.1499,4,32,50.5,72,123
volume_etc1,420,NaN,NaN,NaN,18.7476,12.2206,0,9,17,26,61
volume_type0,420,NaN,NaN,NaN,24.2548,35.27,0,0,0,53.5,126
volume_type1,420,NaN,NaN,NaN,6.01905,8.44381,0,0,0,12,33
volume_type2,420,NaN,NaN,NaN,39.8238,44.2863,0,0,26.5,69,171
pressure,840,NaN,NaN,NaN,1008.52,3.54965,999.4,1005.8,1008.5,1011.4,1015.2
sea_pressure,840,NaN,NaN,NaN,1013.51,3.5637,1004.3,1010.8,1013.5,1016.4,1020.3
wind_direction,840,NaN,NaN,NaN,165.693,119.527,0,86,103,326,357
wind_speed,840,NaN,NaN,NaN,2.21286,1.04289,0.5,1.5,2,2.8,6
temperature,840,NaN,NaN,NaN,21.2918,1.19608,19.2,20.6,21,21.7,24.5
rel_humidity,840,NaN,NaN,NaN,91.4286,7.86429,68,91,94.5,96,98
precipitation,840,NaN,NaN,NaN,0.436786,0.733559,0,0,0.1,0.5,3.3
A2,420,NaN,NaN,NaN,65.6571,16.2711,33.68,54,63.925,75.3125,106.66
A3,420,NaN,NaN,NaN,132.632,35.496,69.48,107.493,125.145,147.41,233.68
B1,420,NaN,NaN,NaN,122.794,28.3169,48.68,106.482,118.86,143.072,227.35
B3,420,NaN,NaN,NaN,100.998,21.3909,48.07,85.035,102.355,111.975,149.42
C1,420,NaN,NaN,NaN,187.565,42.1979,96.81,162.915,179.57,204.623,352.44
C3,420,NaN,NaN,NaN,172.839,72.7592,92.89,141.097,163.81,182.373,717.25

In [16]:
volume_weather_travel_time['volume_model3'] = volume_weather_travel_time['volume_model3'] + volume_weather_travel_time['volume_model4'] + volume_weather_travel_time['volume_model5']+ volume_weather_travel_time['volume_model6']+ volume_weather_travel_time['volume_model7']

In [17]:
volume_weather_travel_time.drop(['volume_model4'], axis=1, inplace=True)
volume_weather_travel_time.drop(['volume_model5'], axis=1, inplace=True)
volume_weather_travel_time.drop(['volume_model6'], axis=1, inplace=True)
volume_weather_travel_time.drop(['volume_model7'], axis=1, inplace=True)

In [18]:
volume_weather_travel_time.head()

,tollgate_id,time_window,direction,volume,volume_model0,volume_model1,volume_model2,volume_model3,volume_etc0,volume_etc1,...,wind_speed,temperature,rel_humidity,precipitation,A2,A3,B1,B3,C1,C3
0,3.0,2016-10-18 06:00:00,1.0,23.0,0.0,16.0,1.0,6.0,21.0,2.0,...,1.6,23.4,73,0.0,41.1,69.48,57.82,54.75,145.35,139.53
1,3.0,2016-10-18 06:00:00,0.0,30.0,0.0,19.0,11.0,0.0,23.0,7.0,...,1.6,23.4,73,0.0,41.1,69.48,57.82,54.75,145.35,139.53
2,1.0,2016-10-18 06:00:00,1.0,37.0,0.0,24.0,6.0,7.0,34.0,3.0,...,1.6,23.4,73,0.0,41.1,69.48,57.82,54.75,145.35,139.53
3,1.0,2016-10-18 06:00:00,0.0,13.0,0.0,13.0,0.0,0.0,11.0,2.0,...,1.6,23.4,73,0.0,41.1,69.48,57.82,54.75,145.35,139.53
4,2.0,2016-10-18 06:00:00,0.0,24.0,0.0,17.0,7.0,0.0,20.0,4.0,...,1.6,23.4,73,0.0,41.1,69.48,57.82,54.75,145.35,139.53

In [19]:
volume_weather_travel_time['dayofweek'] = pd.DatetimeIndex(volume_weather_travel_time['time_window']).dayofweek
(volume_weather_travel_time['time_window'] >= '2016-09-19 00:00:00') & (volume_weather_travel_time['time_window'] < '2016-10-08 00:00:00')
volume_weather_travel_time.loc[(volume_weather_travel_time['time_window'] >= '2016-10-01 00:00:00') & (volume_weather_travel_time['time_window'] < '2016-10-08 00:00:00'), 'dayofweek'] = 7
volume_weather_travel_time.loc[(volume_weather_travel_time['time_window'] >= '2016-10-08 00:00:00') & (volume_weather_travel_time['time_window'] < '2016-10-09 00:00:00'), 'dayofweek'] = 0
volume_weather_travel_time.loc[(volume_weather_travel_time['time_window'] >= '2016-10-09 00:00:00') & (volume_weather_travel_time['time_window'] < '2016-10-10 00:00:00'), 'dayofweek'] = 1
volume_weather_travel_time.loc[(volume_weather_travel_time['dayofweek'] >= 0) & (volume_weather_travel_time['dayofweek'] <= 3), 'dayofweek'] = 0
volume_weather_travel_time.loc[volume_weather_travel_time['dayofweek'] == 4, 'dayofweek'] = 1
volume_weather_travel_time.loc[(volume_weather_travel_time['dayofweek'] == 5) | (volume_weather_travel_time['dayofweek'] == 6), 'dayofweek'] = 2
volume_weather_travel_time.loc[volume_weather_travel_time['dayofweek'] == 7, 'dayofweek'] = 3

In [20]:
volume_weather_travel_time['hour'] = pd.DatetimeIndex(volume_weather_travel_time['time_window']).hour

In [21]:
volume_weather_travel_time['hour'] = pd.DatetimeIndex(volume_weather_travel_time['time_window']).hour
volume_weather_travel_time.loc[(volume_weather_travel_time['hour'] >= 1) & (volume_weather_travel_time['hour'] < 6), 'hour'] = 1
volume_weather_travel_time.loc[(volume_weather_travel_time['hour'] >= 22) & (volume_weather_travel_time['hour'] < 24), 'hour'] = 1
volume_weather_travel_time.loc[(volume_weather_travel_time['hour'] >= 10) & (volume_weather_travel_time['hour'] < 13), 'hour'] = 2
volume_weather_travel_time.loc[(volume_weather_travel_time['hour'] >= 13) & (volume_weather_travel_time['hour'] <= 17), 'hour'] = 3

In [22]:
volume_weather_travel_time.head()

,tollgate_id,time_window,direction,volume,volume_model0,volume_model1,volume_model2,volume_model3,volume_etc0,volume_etc1,...,rel_humidity,precipitation,A2,A3,B1,B3,C1,C3,dayofweek,hour
0,3.0,2016-10-18 06:00:00,1.0,23.0,0.0,16.0,1.0,6.0,21.0,2.0,...,73,0.0,41.1,69.48,57.82,54.75,145.35,139.53,0,6
1,3.0,2016-10-18 06:00:00,0.0,30.0,0.0,19.0,11.0,0.0,23.0,7.0,...,73,0.0,41.1,69.48,57.82,54.75,145.35,139.53,0,6
2,1.0,2016-10-18 06:00:00,1.0,37.0,0.0,24.0,6.0,7.0,34.0,3.0,...,73,0.0,41.1,69.48,57.82,54.75,145.35,139.53,0,6
3,1.0,2016-10-18 06:00:00,0.0,13.0,0.0,13.0,0.0,0.0,11.0,2.0,...,73,0.0,41.1,69.48,57.82,54.75,145.35,139.53,0,6
4,2.0,2016-10-18 06:00:00,0.0,24.0,0.0,17.0,7.0,0.0,20.0,4.0,...,73,0.0,41.1,69.48,57.82,54.75,145.35,139.53,0,6

In [23]:
volume_weather_travel_time.to_csv(test_path + 'backup2.csv')

In [24]:
volume_weather_travel_time.drop(['volume_type2'], axis=1, inplace=True)

In [25]:
data_1_0 = volume_weather_travel_time[(volume_weather_travel_time['tollgate_id'] == 1) & (volume_weather_travel_time['direction'] == 0)]
data_1_1 = volume_weather_travel_time[(volume_weather_travel_time['tollgate_id'] == 1) & (volume_weather_travel_time['direction'] == 1)]
data_2_0 = volume_weather_travel_time[(volume_weather_travel_time['tollgate_id'] == 2) & (volume_weather_travel_time['direction'] == 0)]
data_3_0 = volume_weather_travel_time[(volume_weather_travel_time['tollgate_id'] == 3) & (volume_weather_travel_time['direction'] == 0)]
data_3_1 = volume_weather_travel_time[(volume_weather_travel_time['tollgate_id'] == 3) & (volume_weather_travel_time['direction'] == 1)]

In [26]:
data_1_0 = data_1_0.set_index('time_window')
data_1_1 = data_1_1.set_index('time_window')
data_2_0 = data_2_0.set_index('time_window')
data_3_0 = data_3_0.set_index('time_window')
data_3_1 = data_3_1.set_index('time_window')

In [27]:
data_1_0.drop(['tollgate_id', 'direction'], axis=1, inplace=True)
data_1_1.drop(['tollgate_id', 'direction'], axis=1, inplace=True)
data_2_0.drop(['tollgate_id', 'direction'], axis=1, inplace=True)
data_3_0.drop(['tollgate_id', 'direction'], axis=1, inplace=True)
data_3_1.drop(['tollgate_id', 'direction'], axis=1, inplace=True)

In [29]:
index = volume_weather_travel_time[volume_weather_travel_time['tollgate_id']==3][volume_weather_travel_time['direction']==1]['time_window'].as_matrix()

/Users/Solomon/anaconda3/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':

In [30]:
shift_6 = pd.DataFrame({'volume_1_0_6': data_1_0['volume'].shift(6).as_matrix(), 'volume_1_1_6': data_1_1['volume'].shift(6).as_matrix(), 'volume_2_0_6': data_2_0['volume'].shift(6).as_matrix(), 'volume_3_0_6': data_3_0['volume'].shift(6).as_matrix(), 'volume_3_1_6': data_3_1['volume'].shift(6).as_matrix(),
    'vm0_1_0_6': data_1_0['volume_model0'].shift(6).as_matrix(), 'vm0_1_1_6': data_1_1['volume_model0'].shift(6).as_matrix(), 'vm0_2_0_6': data_2_0['volume_model0'].shift(6).as_matrix(), 'vm0_3_0_6': data_3_0['volume_model0'].shift(6).as_matrix(), 'vm0_3_1_6': data_3_1['volume_model0'].shift(6).as_matrix(),
                                'vm1_1_0_6': data_1_0['volume_model1'].shift(6).as_matrix(), 'vm1_1_1_6': data_1_1['volume_model1'].shift(6).as_matrix(), 'vm1_2_0_6': data_2_0['volume_model1'].shift(6).as_matrix(), 'vm1_3_0_6': data_3_0['volume_model1'].shift(6).as_matrix(), 'vm1_3_1_6': data_3_1['volume_model1'].shift(6).as_matrix(),
                               'vm2_1_0_6': data_1_0['volume_model2'].shift(6).as_matrix(), 'vm2_1_1_6': data_1_1['volume_model2'].shift(6).as_matrix(), 'vm2_2_0_6': data_2_0['volume_model2'].shift(6).as_matrix(), 'vm2_3_0_6': data_3_0['volume_model2'].shift(6).as_matrix(), 'vm2_3_1_6': data_3_1['volume_model2'].shift(6).as_matrix(),
                               'vm3_1_0_6': data_1_0['volume_model3'].shift(6).as_matrix(), 'vm3_1_1_6': data_1_1['volume_model3'].shift(6).as_matrix(), 'vm3_2_0_6': data_2_0['volume_model3'].shift(6).as_matrix(), 'vm3_3_0_6': data_3_0['volume_model3'].shift(6).as_matrix(), 'vm3_3_1_6': data_3_1['volume_model3'].shift(6).as_matrix(),
                               've0_1_0_6': data_1_0['volume_etc0'].shift(6).as_matrix(), 've0_1_1_6': data_1_1['volume_etc0'].shift(6).as_matrix(), 've0_2_0_6': data_2_0['volume_etc0'].shift(6).as_matrix(), 've0_3_0_6': data_3_0['volume_etc0'].shift(6).as_matrix(), 've0_3_1_6': data_3_1['volume_etc0'].shift(6).as_matrix(),
                               've1_1_0_6': data_1_0['volume_etc1'].shift(6).as_matrix(), 've1_1_1_6': data_1_1['volume_etc1'].shift(6).as_matrix(), 've1_2_0_6': data_2_0['volume_etc1'].shift(6).as_matrix(), 've1_3_0_6': data_3_0['volume_etc1'].shift(6).as_matrix(), 've1_3_1_6': data_3_1['volume_etc1'].shift(6).as_matrix(),
                               'vt0_1_0_6': data_1_0['volume_type0'].shift(6).as_matrix(), 'vt0_1_1_6': data_1_1['volume_type0'].shift(6).as_matrix(), 'vt0_2_0_6': data_2_0['volume_type0'].shift(6).as_matrix(), 'vt0_3_0_6': data_3_0['volume_type0'].shift(6).as_matrix(), 'vt0_3_1_6': data_3_1['volume_type0'].shift(6).as_matrix(),
                               'vt1_1_0_6': data_1_0['volume_type1'].shift(6).as_matrix(), 'vt1_1_1_6': data_1_1['volume_type1'].shift(6).as_matrix(), 'vt1_2_0_6': data_2_0['volume_type1'].shift(6).as_matrix(), 'vt1_3_0_6': data_3_0['volume_type1'].shift(6).as_matrix(), 'vt1_3_1_6': data_3_1['volume_type1'].shift(6).as_matrix(),
                       'A2_6': data_1_0['A2'].shift(6).as_matrix(), 'A3_6': data_1_0['A3'].shift(6).as_matrix(), 'B1_6': data_1_0['B1'].shift(6).as_matrix(), 'B3_6': data_1_0['B3'].shift(6).as_matrix(), 'C1_6': data_1_0['C1'].shift(6).as_matrix(), 'C3_6': data_1_0['C3'].shift(6).as_matrix()},index = index)

In [31]:
shift_5 = pd.DataFrame({'volume_1_0_5': data_1_0['volume'].shift(5).as_matrix(), 'volume_1_1_5': data_1_1['volume'].shift(5).as_matrix(), 'volume_2_0_5': data_2_0['volume'].shift(5).as_matrix(), 'volume_3_0_5': data_3_0['volume'].shift(5).as_matrix(), 'volume_3_1_5': data_3_1['volume'].shift(5).as_matrix(),
                        'vm0_1_0_5': data_1_0['volume_model0'].shift(5).as_matrix(), 'vm0_1_1_5': data_1_1['volume_model0'].shift(5).as_matrix(), 'vm0_2_0_5': data_2_0['volume_model0'].shift(5).as_matrix(), 'vm0_3_0_5': data_3_0['volume_model0'].shift(5).as_matrix(), 'vm0_3_1_5': data_3_1['volume_model0'].shift(5).as_matrix(),
                                'vm1_1_0_5': data_1_0['volume_model1'].shift(5).as_matrix(), 'vm1_1_1_5': data_1_1['volume_model1'].shift(5).as_matrix(), 'vm1_2_0_5': data_2_0['volume_model1'].shift(5).as_matrix(), 'vm1_3_0_5': data_3_0['volume_model1'].shift(5).as_matrix(), 'vm1_3_1_5': data_3_1['volume_model1'].shift(5).as_matrix(),
                               'vm2_1_0_5': data_1_0['volume_model2'].shift(5).as_matrix(), 'vm2_1_1_5': data_1_1['volume_model2'].shift(5).as_matrix(), 'vm2_2_0_5': data_2_0['volume_model2'].shift(5).as_matrix(), 'vm2_3_0_5': data_3_0['volume_model2'].shift(5).as_matrix(), 'vm2_3_1_5': data_3_1['volume_model2'].shift(5).as_matrix(),
                               'vm3_1_0_5': data_1_0['volume_model3'].shift(5).as_matrix(), 'vm3_1_1_5': data_1_1['volume_model3'].shift(5).as_matrix(), 'vm3_2_0_5': data_2_0['volume_model3'].shift(5).as_matrix(), 'vm3_3_0_5': data_3_0['volume_model3'].shift(5).as_matrix(), 'vm3_3_1_5': data_3_1['volume_model3'].shift(5).as_matrix(),
                               've0_1_0_5': data_1_0['volume_etc0'].shift(5).as_matrix(), 've0_1_1_5': data_1_1['volume_etc0'].shift(5).as_matrix(), 've0_2_0_5': data_2_0['volume_etc0'].shift(5).as_matrix(), 've0_3_0_5': data_3_0['volume_etc0'].shift(5).as_matrix(), 've0_3_1_5': data_3_1['volume_etc0'].shift(5).as_matrix(),
                               've1_1_0_5': data_1_0['volume_etc1'].shift(5).as_matrix(), 've1_1_1_5': data_1_1['volume_etc1'].shift(5).as_matrix(), 've1_2_0_5': data_2_0['volume_etc1'].shift(5).as_matrix(), 've1_3_0_5': data_3_0['volume_etc1'].shift(5).as_matrix(), 've1_3_1_5': data_3_1['volume_etc1'].shift(5).as_matrix(),
                               'vt0_1_0_5': data_1_0['volume_type0'].shift(5).as_matrix(), 'vt0_1_1_5': data_1_1['volume_type0'].shift(5).as_matrix(), 'vt0_2_0_5': data_2_0['volume_type0'].shift(5).as_matrix(), 'vt0_3_0_5': data_3_0['volume_type0'].shift(5).as_matrix(), 'vt0_3_1_5': data_3_1['volume_type0'].shift(5).as_matrix(),
                               'vt1_1_0_5': data_1_0['volume_type1'].shift(5).as_matrix(), 'vt1_1_1_5': data_1_1['volume_type1'].shift(5).as_matrix(), 'vt1_2_0_5': data_2_0['volume_type1'].shift(5).as_matrix(), 'vt1_3_0_5': data_3_0['volume_type1'].shift(5).as_matrix(), 'vt1_3_1_5': data_3_1['volume_type1'].shift(5).as_matrix(),
                       'A2_5': data_1_0['A2'].shift(5).as_matrix(), 'A3_5': data_1_0['A3'].shift(5).as_matrix(), 'B1_5': data_1_0['B1'].shift(5).as_matrix(), 'B3_5': data_1_0['B3'].shift(5).as_matrix(), 'C1_5': data_1_0['C1'].shift(5).as_matrix(), 'C3_5': data_1_0['C3'].shift(5).as_matrix()},index = index)

In [32]:
shift_4 = pd.DataFrame({'volume_1_0_4': data_1_0['volume'].shift(4).as_matrix(), 'volume_1_1_4': data_1_1['volume'].shift(4).as_matrix(), 'volume_2_0_4': data_2_0['volume'].shift(4).as_matrix(), 'volume_3_0_4': data_3_0['volume'].shift(4).as_matrix(), 'volume_3_1_4': data_3_1['volume'].shift(4).as_matrix(),
                        'vm0_1_0_4': data_1_0['volume_model0'].shift(4).as_matrix(), 'vm0_1_1_4': data_1_1['volume_model0'].shift(4).as_matrix(), 'vm0_2_0_4': data_2_0['volume_model0'].shift(4).as_matrix(), 'vm0_3_0_4': data_3_0['volume_model0'].shift(4).as_matrix(), 'vm0_3_1_4': data_3_1['volume_model0'].shift(4).as_matrix(),
                                'vm1_1_0_4': data_1_0['volume_model1'].shift(4).as_matrix(), 'vm1_1_1_4': data_1_1['volume_model1'].shift(4).as_matrix(), 'vm1_2_0_4': data_2_0['volume_model1'].shift(4).as_matrix(), 'vm1_3_0_4': data_3_0['volume_model1'].shift(4).as_matrix(), 'vm1_3_1_4': data_3_1['volume_model1'].shift(4).as_matrix(),
                               'vm2_1_0_4': data_1_0['volume_model2'].shift(4).as_matrix(), 'vm2_1_1_4': data_1_1['volume_model2'].shift(4).as_matrix(), 'vm2_2_0_4': data_2_0['volume_model2'].shift(4).as_matrix(), 'vm2_3_0_4': data_3_0['volume_model2'].shift(4).as_matrix(), 'vm2_3_1_4': data_3_1['volume_model2'].shift(4).as_matrix(),
                               'vm3_1_0_4': data_1_0['volume_model3'].shift(4).as_matrix(), 'vm3_1_1_4': data_1_1['volume_model3'].shift(4).as_matrix(), 'vm3_2_0_4': data_2_0['volume_model3'].shift(4).as_matrix(), 'vm3_3_0_4': data_3_0['volume_model3'].shift(4).as_matrix(), 'vm3_3_1_4': data_3_1['volume_model3'].shift(4).as_matrix(),
                               've0_1_0_4': data_1_0['volume_etc0'].shift(4).as_matrix(), 've0_1_1_4': data_1_1['volume_etc0'].shift(4).as_matrix(), 've0_2_0_4': data_2_0['volume_etc0'].shift(4).as_matrix(), 've0_3_0_4': data_3_0['volume_etc0'].shift(4).as_matrix(), 've0_3_1_4': data_3_1['volume_etc0'].shift(4).as_matrix(),
                               've1_1_0_4': data_1_0['volume_etc1'].shift(4).as_matrix(), 've1_1_1_4': data_1_1['volume_etc1'].shift(4).as_matrix(), 've1_2_0_4': data_2_0['volume_etc1'].shift(4).as_matrix(), 've1_3_0_4': data_3_0['volume_etc1'].shift(4).as_matrix(), 've1_3_1_4': data_3_1['volume_etc1'].shift(4).as_matrix(),
                               'vt0_1_0_4': data_1_0['volume_type0'].shift(4).as_matrix(), 'vt0_1_1_4': data_1_1['volume_type0'].shift(4).as_matrix(), 'vt0_2_0_4': data_2_0['volume_type0'].shift(4).as_matrix(), 'vt0_3_0_4': data_3_0['volume_type0'].shift(4).as_matrix(), 'vt0_3_1_4': data_3_1['volume_type0'].shift(4).as_matrix(),
                               'vt1_1_0_4': data_1_0['volume_type1'].shift(4).as_matrix(), 'vt1_1_1_4': data_1_1['volume_type1'].shift(4).as_matrix(), 'vt1_2_0_4': data_2_0['volume_type1'].shift(4).as_matrix(), 'vt1_3_0_4': data_3_0['volume_type1'].shift(4).as_matrix(), 'vt1_3_1_4': data_3_1['volume_type1'].shift(4).as_matrix(),
                       'A2_4': data_1_0['A2'].shift(4).as_matrix(), 'A3_4': data_1_0['A3'].shift(4).as_matrix(), 'B1_4': data_1_0['B1'].shift(4).as_matrix(), 'B3_4': data_1_0['B3'].shift(4).as_matrix(), 'C1_4': data_1_0['C1'].shift(4).as_matrix(), 'C3_4': data_1_0['C3'].shift(4).as_matrix()},index = index)

In [33]:
shift_3 = pd.DataFrame({'volume_1_0_3': data_1_0['volume'].shift(3).as_matrix(), 'volume_1_1_3': data_1_1['volume'].shift(3).as_matrix(), 'volume_2_0_3': data_2_0['volume'].shift(3).as_matrix(), 'volume_3_0_3': data_3_0['volume'].shift(3).as_matrix(), 'volume_3_1_3': data_3_1['volume'].shift(3).as_matrix(),
                        'vm0_1_0_3': data_1_0['volume_model0'].shift(3).as_matrix(), 'vm0_1_1_3': data_1_1['volume_model0'].shift(3).as_matrix(), 'vm0_2_0_3': data_2_0['volume_model0'].shift(3).as_matrix(), 'vm0_3_0_3': data_3_0['volume_model0'].shift(3).as_matrix(), 'vm0_3_1_3': data_3_1['volume_model0'].shift(3).as_matrix(),
                                'vm1_1_0_3': data_1_0['volume_model1'].shift(3).as_matrix(), 'vm1_1_1_3': data_1_1['volume_model1'].shift(3).as_matrix(), 'vm1_2_0_3': data_2_0['volume_model1'].shift(3).as_matrix(), 'vm1_3_0_3': data_3_0['volume_model1'].shift(3).as_matrix(), 'vm1_3_1_3': data_3_1['volume_model1'].shift(3).as_matrix(),
                               'vm2_1_0_3': data_1_0['volume_model2'].shift(3).as_matrix(), 'vm2_1_1_3': data_1_1['volume_model2'].shift(3).as_matrix(), 'vm2_2_0_3': data_2_0['volume_model2'].shift(3).as_matrix(), 'vm2_3_0_3': data_3_0['volume_model2'].shift(3).as_matrix(), 'vm2_3_1_3': data_3_1['volume_model2'].shift(3).as_matrix(),
                               'vm3_1_0_3': data_1_0['volume_model3'].shift(3).as_matrix(), 'vm3_1_1_3': data_1_1['volume_model3'].shift(3).as_matrix(), 'vm3_2_0_3': data_2_0['volume_model3'].shift(3).as_matrix(), 'vm3_3_0_3': data_3_0['volume_model3'].shift(3).as_matrix(), 'vm3_3_1_3': data_3_1['volume_model3'].shift(3).as_matrix(),
                               've0_1_0_3': data_1_0['volume_etc0'].shift(3).as_matrix(), 've0_1_1_3': data_1_1['volume_etc0'].shift(3).as_matrix(), 've0_2_0_3': data_2_0['volume_etc0'].shift(3).as_matrix(), 've0_3_0_3': data_3_0['volume_etc0'].shift(3).as_matrix(), 've0_3_1_3': data_3_1['volume_etc0'].shift(3).as_matrix(),
                               've1_1_0_3': data_1_0['volume_etc1'].shift(3).as_matrix(), 've1_1_1_3': data_1_1['volume_etc1'].shift(3).as_matrix(), 've1_2_0_3': data_2_0['volume_etc1'].shift(3).as_matrix(), 've1_3_0_3': data_3_0['volume_etc1'].shift(3).as_matrix(), 've1_3_1_3': data_3_1['volume_etc1'].shift(3).as_matrix(),
                               'vt0_1_0_3': data_1_0['volume_type0'].shift(3).as_matrix(), 'vt0_1_1_3': data_1_1['volume_type0'].shift(3).as_matrix(), 'vt0_2_0_3': data_2_0['volume_type0'].shift(3).as_matrix(), 'vt0_3_0_3': data_3_0['volume_type0'].shift(3).as_matrix(), 'vt0_3_1_3': data_3_1['volume_type0'].shift(3).as_matrix(),
                               'vt1_1_0_3': data_1_0['volume_type1'].shift(3).as_matrix(), 'vt1_1_1_3': data_1_1['volume_type1'].shift(3).as_matrix(), 'vt1_2_0_3': data_2_0['volume_type1'].shift(3).as_matrix(), 'vt1_3_0_3': data_3_0['volume_type1'].shift(3).as_matrix(), 'vt1_3_1_3': data_3_1['volume_type1'].shift(3).as_matrix(),
                       'A2_3': data_1_0['A2'].shift(3).as_matrix(), 'A3_3': data_1_0['A3'].shift(3).as_matrix(), 'B1_3': data_1_0['B1'].shift(3).as_matrix(), 'B3_3': data_1_0['B3'].shift(3).as_matrix(), 'C1_3': data_1_0['C1'].shift(3).as_matrix(), 'C3_3': data_1_0['C3'].shift(3).as_matrix()},index = index)

In [34]:
shift_2 = pd.DataFrame({'volume_1_0_2': data_1_0['volume'].shift(2).as_matrix(), 'volume_1_1_2': data_1_1['volume'].shift(2).as_matrix(), 'volume_2_0_2': data_2_0['volume'].shift(2).as_matrix(), 'volume_3_0_2': data_3_0['volume'].shift(2).as_matrix(), 'volume_3_1_2': data_3_1['volume'].shift(2).as_matrix(),
                        'vm0_1_0_2': data_1_0['volume_model0'].shift(2).as_matrix(), 'vm0_1_1_2': data_1_1['volume_model0'].shift(2).as_matrix(), 'vm0_2_0_2': data_2_0['volume_model0'].shift(2).as_matrix(), 'vm0_3_0_2': data_3_0['volume_model0'].shift(2).as_matrix(), 'vm0_3_1_2': data_3_1['volume_model0'].shift(2).as_matrix(),
                                'vm1_1_0_2': data_1_0['volume_model1'].shift(2).as_matrix(), 'vm1_1_1_2': data_1_1['volume_model1'].shift(2).as_matrix(), 'vm1_2_0_2': data_2_0['volume_model1'].shift(2).as_matrix(), 'vm1_3_0_2': data_3_0['volume_model1'].shift(2).as_matrix(), 'vm1_3_1_2': data_3_1['volume_model1'].shift(2).as_matrix(),
                               'vm2_1_0_2': data_1_0['volume_model2'].shift(2).as_matrix(), 'vm2_1_1_2': data_1_1['volume_model2'].shift(2).as_matrix(), 'vm2_2_0_2': data_2_0['volume_model2'].shift(2).as_matrix(), 'vm2_3_0_2': data_3_0['volume_model2'].shift(2).as_matrix(), 'vm2_3_1_2': data_3_1['volume_model2'].shift(2).as_matrix(),
                               'vm3_1_0_2': data_1_0['volume_model3'].shift(2).as_matrix(), 'vm3_1_1_2': data_1_1['volume_model3'].shift(2).as_matrix(), 'vm3_2_0_2': data_2_0['volume_model3'].shift(2).as_matrix(), 'vm3_3_0_2': data_3_0['volume_model3'].shift(2).as_matrix(), 'vm3_3_1_2': data_3_1['volume_model3'].shift(2).as_matrix(),
                               've0_1_0_2': data_1_0['volume_etc0'].shift(2).as_matrix(), 've0_1_1_2': data_1_1['volume_etc0'].shift(2).as_matrix(), 've0_2_0_2': data_2_0['volume_etc0'].shift(2).as_matrix(), 've0_3_0_2': data_3_0['volume_etc0'].shift(2).as_matrix(), 've0_3_1_2': data_3_1['volume_etc0'].shift(2).as_matrix(),
                               've1_1_0_2': data_1_0['volume_etc1'].shift(2).as_matrix(), 've1_1_1_2': data_1_1['volume_etc1'].shift(2).as_matrix(), 've1_2_0_2': data_2_0['volume_etc1'].shift(2).as_matrix(), 've1_3_0_2': data_3_0['volume_etc1'].shift(2).as_matrix(), 've1_3_1_2': data_3_1['volume_etc1'].shift(2).as_matrix(),
                               'vt0_1_0_2': data_1_0['volume_type0'].shift(2).as_matrix(), 'vt0_1_1_2': data_1_1['volume_type0'].shift(2).as_matrix(), 'vt0_2_0_2': data_2_0['volume_type0'].shift(2).as_matrix(), 'vt0_3_0_2': data_3_0['volume_type0'].shift(2).as_matrix(), 'vt0_3_1_2': data_3_1['volume_type0'].shift(2).as_matrix(),
                               'vt1_1_0_2': data_1_0['volume_type1'].shift(2).as_matrix(), 'vt1_1_1_2': data_1_1['volume_type1'].shift(2).as_matrix(), 'vt1_2_0_2': data_2_0['volume_type1'].shift(2).as_matrix(), 'vt1_3_0_2': data_3_0['volume_type1'].shift(2).as_matrix(), 'vt1_3_1_2': data_3_1['volume_type1'].shift(2).as_matrix(),
                       'A2_2': data_1_0['A2'].shift(2).as_matrix(), 'A3_2': data_1_0['A3'].shift(2).as_matrix(), 'B1_2': data_1_0['B1'].shift(2).as_matrix(), 'B3_2': data_1_0['B3'].shift(2).as_matrix(), 'C1_2': data_1_0['C1'].shift(2).as_matrix(), 'C3_2': data_1_0['C3'].shift(2).as_matrix()},index = index)

In [35]:
shift_1 = pd.DataFrame({'volume_1_0_1': data_1_0['volume'].shift(1).as_matrix(), 'volume_1_1_1': data_1_1['volume'].shift(1).as_matrix(), 'volume_2_0_1': data_2_0['volume'].shift(1).as_matrix(), 'volume_3_0_1': data_3_0['volume'].shift(1).as_matrix(), 'volume_3_1_1': data_3_1['volume'].shift(1).as_matrix(),
                        'vm0_1_0_1': data_1_0['volume_model0'].shift(1).as_matrix(), 'vm0_1_1_1': data_1_1['volume_model0'].shift(1).as_matrix(), 'vm0_2_0_1': data_2_0['volume_model0'].shift(1).as_matrix(), 'vm0_3_0_1': data_3_0['volume_model0'].shift(1).as_matrix(), 'vm0_3_1_1': data_3_1['volume_model0'].shift(1).as_matrix(),
                                'vm1_1_0_1': data_1_0['volume_model1'].shift(1).as_matrix(), 'vm1_1_1_1': data_1_1['volume_model1'].shift(1).as_matrix(), 'vm1_2_0_1': data_2_0['volume_model1'].shift(1).as_matrix(), 'vm1_3_0_1': data_3_0['volume_model1'].shift(1).as_matrix(), 'vm1_3_1_1': data_3_1['volume_model1'].shift(1).as_matrix(),
                               'vm2_1_0_1': data_1_0['volume_model2'].shift(1).as_matrix(), 'vm2_1_1_1': data_1_1['volume_model2'].shift(1).as_matrix(), 'vm2_2_0_1': data_2_0['volume_model2'].shift(1).as_matrix(), 'vm2_3_0_1': data_3_0['volume_model2'].shift(1).as_matrix(), 'vm2_3_1_1': data_3_1['volume_model2'].shift(1).as_matrix(),
                               'vm3_1_0_1': data_1_0['volume_model3'].shift(1).as_matrix(), 'vm3_1_1_1': data_1_1['volume_model3'].shift(1).as_matrix(), 'vm3_2_0_1': data_2_0['volume_model3'].shift(1).as_matrix(), 'vm3_3_0_1': data_3_0['volume_model3'].shift(1).as_matrix(), 'vm3_3_1_1': data_3_1['volume_model3'].shift(1).as_matrix(),
                               've0_1_0_1': data_1_0['volume_etc0'].shift(1).as_matrix(), 've0_1_1_1': data_1_1['volume_etc0'].shift(1).as_matrix(), 've0_2_0_1': data_2_0['volume_etc0'].shift(1).as_matrix(), 've0_3_0_1': data_3_0['volume_etc0'].shift(1).as_matrix(), 've0_3_1_1': data_3_1['volume_etc0'].shift(1).as_matrix(),
                               've1_1_0_1': data_1_0['volume_etc1'].shift(1).as_matrix(), 've1_1_1_1': data_1_1['volume_etc1'].shift(1).as_matrix(), 've1_2_0_1': data_2_0['volume_etc1'].shift(1).as_matrix(), 've1_3_0_1': data_3_0['volume_etc1'].shift(1).as_matrix(), 've1_3_1_1': data_3_1['volume_etc1'].shift(1).as_matrix(),
                               'vt0_1_0_1': data_1_0['volume_type0'].shift(1).as_matrix(), 'vt0_1_1_1': data_1_1['volume_type0'].shift(1).as_matrix(), 'vt0_2_0_1': data_2_0['volume_type0'].shift(1).as_matrix(), 'vt0_3_0_1': data_3_0['volume_type0'].shift(1).as_matrix(), 'vt0_3_1_1': data_3_1['volume_type0'].shift(1).as_matrix(),
                               'vt1_1_0_1': data_1_0['volume_type1'].shift(1).as_matrix(), 'vt1_1_1_1': data_1_1['volume_type1'].shift(1).as_matrix(), 'vt1_2_0_1': data_2_0['volume_type1'].shift(1).as_matrix(), 'vt1_3_0_1': data_3_0['volume_type1'].shift(1).as_matrix(), 'vt1_3_1_1': data_3_1['volume_type1'].shift(1).as_matrix(),
                       'A2_1': data_1_0['A2'].shift(1).as_matrix(), 'A3_1': data_1_0['A3'].shift(1).as_matrix(), 'B1_1': data_1_0['B1'].shift(1).as_matrix(), 'B3_1': data_1_0['B3'].shift(1).as_matrix(), 'C1_1': data_1_0['C1'].shift(1).as_matrix(), 'C3_1': data_1_0['C3'].shift(1).as_matrix()},index = index)

In [36]:
shift_1.head()

,A2_1,A3_1,B1_1,B3_1,C1_1,C3_1,ve0_1_0_1,ve0_1_1_1,ve0_2_0_1,ve0_3_0_1,...,vt0_1_0_1,vt0_1_1_1,vt0_2_0_1,vt0_3_0_1,vt0_3_1_1,vt1_1_0_1,vt1_1_1_1,vt1_2_0_1,vt1_3_0_1,vt1_3_1_1
2016-10-18 06:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-10-18 06:20:00,41.10,69.48,57.82,54.75,145.35,139.530,11.0,34.0,20.0,23.0,...,0.0,15.0,0.0,0.0,11.0,0.0,22.0,0.0,0.0,12.0
2016-10-18 06:40:00,43.68,142.01,48.68,121.02,136.22,121.975,12.0,39.0,29.0,38.0,...,0.0,23.0,0.0,0.0,13.0,0.0,24.0,0.0,0.0,16.0
2016-10-18 07:00:00,68.02,233.68,112.52,94.04,147.82,104.420,12.0,62.0,33.0,55.0,...,0.0,41.0,0.0,0.0,32.0,0.0,31.0,0.0,0.0,18.0
2016-10-18 07:20:00,52.61,143.65,97.32,120.60,180.98,182.060,18.0,49.0,47.0,73.0,...,0.0,50.0,0.0,0.0,42.0,0.0,18.0,0.0,0.0,14.0

In [37]:
data_1_0.drop(['A2', 'A3', 'B1', 'B3', 'C1', 'C3'], axis=1, inplace=True)
data_1_1.drop(['A2', 'A3', 'B1', 'B3', 'C1', 'C3'], axis=1, inplace=True)
data_2_0.drop(['A2', 'A3', 'B1', 'B3', 'C1', 'C3'], axis=1, inplace=True)
data_3_0.drop(['A2', 'A3', 'B1', 'B3', 'C1', 'C3'], axis=1, inplace=True)
data_3_1.drop(['A2', 'A3', 'B1', 'B3', 'C1', 'C3'], axis=1, inplace=True)

In [38]:
data_1_0_final = pd.concat([data_1_0, shift_1,shift_2,shift_3,shift_4,shift_5,shift_6], axis=1)
data_1_1_final = pd.concat([data_1_1, shift_1,shift_2,shift_3,shift_4,shift_5,shift_6], axis=1)
data_2_0_final = pd.concat([data_2_0, shift_1,shift_2,shift_3,shift_4,shift_5,shift_6], axis=1)
data_3_0_final = pd.concat([data_3_0, shift_1,shift_2,shift_3,shift_4,shift_5,shift_6], axis=1)
data_3_1_final = pd.concat([data_3_1, shift_1,shift_2,shift_3,shift_4,shift_5,shift_6], axis=1)

In [39]:
data_1_0_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 84 entries, 2016-10-18 06:00:00 to 2016-10-24 16:40:00
Columns: 324 entries, volume to vt1_3_1_6
dtypes: float64(320), int32(2), int64(2)
memory usage: 212.6+ KB

In [40]:
data_1_0_final.to_csv(test_path + 'data_1_0_final.csv')
data_1_1_final.to_csv(test_path + 'data_1_1_final.csv')
data_2_0_final.to_csv(test_path + 'data_2_0_final.csv')
data_3_0_final.to_csv(test_path + 'data_3_0_final.csv')
data_3_1_final.to_csv(test_path + 'data_3_1_final.csv')