In [1]:
import numpy as np
import pandas as pd
import util
import ml_alg
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
train_path = 'dataSets/training/'
test_path = "dataSets/testing_phase1/"

In [3]:
test_volume_data = pd.read_csv(test_path + 'volume(table 6)_test1.csv', header = 0, error_bad_lines=False)
test_weather_data = pd.read_csv(test_path + 'weather (table 7)_test1.csv', header = 0, error_bad_lines=False)
test_trajectories = pd.read_csv(test_path + 'trajectories(table 5)_test1.csv', header = 0, error_bad_lines=False)

In [4]:
test_volume_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29441 entries, 0 to 29440
Data columns (total 6 columns):
time             29441 non-null object
tollgate_id      29441 non-null int64
direction        29441 non-null int64
vehicle_model    29441 non-null int64
has_etc          29441 non-null int64
vehicle_type     12715 non-null float64
dtypes: float64(1), int64(4), object(1)
memory usage: 1.3+ MB

In [5]:
test_volume_data[test_volume_data['vehicle_type'].isnull()][test_volume_data['direction'] == 1]

/Users/Solomon/anaconda3/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':

Empty DataFrame
Columns: [time, tollgate_id, direction, vehicle_model, has_etc, vehicle_type]
Index: []

In [6]:
test_volume_data[test_volume_data['vehicle_type'].notnull()][test_volume_data['direction'] == 0]

/Users/Solomon/anaconda3/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':

Empty DataFrame
Columns: [time, tollgate_id, direction, vehicle_model, has_etc, vehicle_type]
Index: []

In [7]:
test_weather_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 9 columns):
date              56 non-null object
hour              56 non-null int64
pressure          56 non-null float64
sea_pressure      56 non-null float64
wind_direction    56 non-null int64
wind_speed        56 non-null float64
temperature       56 non-null float64
rel_humidity      56 non-null int64
precipitation     56 non-null float64
dtypes: float64(5), int64(3), object(1)
memory usage: 4.0+ KB

In [8]:
test_weather_data.describe()

,hour,pressure,sea_pressure,wind_direction,wind_speed,temperature,rel_humidity,precipitation
count,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000
mean,10.500000,1008.712500,1013.710714,162.678571,2.207143,21.191071,92.000000,0.451786
std,6.936072,3.520747,3.533357,121.204126,1.087592,1.134465,7.037562,0.827481
min,0.000000,999.400000,1004.300000,0.000000,0.500000,19.200000,68.000000,0.000000
25%,5.250000,1006.575000,1011.575000,81.750000,1.600000,20.500000,91.000000,0.000000
50%,10.500000,1008.950000,1013.950000,103.000000,2.000000,21.000000,94.500000,0.100000
75%,15.750000,1011.250000,1016.250000,323.500000,2.625000,21.700000,96.000000,0.350000
max,21.000000,1015.200000,1020.300000,357.000000,6.000000,24.500000,98.000000,3.300000

In [9]:
test_trajectories.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2336 entries, 0 to 2335
Data columns (total 6 columns):
intersection_id    2336 non-null object
tollgate_id        2336 non-null int64
vehicle_id         2336 non-null int64
starting_time      2336 non-null object
travel_seq         2336 non-null object
travel_time        2336 non-null float64
dtypes: float64(1), int64(2), object(3)
memory usage: 109.6+ KB

In [10]:
avg_volume_data = pd.read_csv(test_path + 'test1_20min_avg_volume.csv', header = 0, error_bad_lines=False)
avg_weather_data = pd.read_csv(test_path + 'test1_20min_weather.csv', header = 0, error_bad_lines=False)
avg_traveltime_data = pd.read_csv(test_path + 'processed_travel_time.csv', header = 0, error_bad_lines=False)

In [11]:
volume_weather = avg_volume_data.merge(avg_weather_data, left_on='time_window', right_on='time_window', how='outer')

In [12]:
volume_weather.head()

,tollgate_id,time_window,direction,volume,volume_model0,volume_model1,volume_model2,volume_model3,volume_model4,volume_model5,...,volume_type0,volume_type1,volume_type2,pressure,sea_pressure,wind_direction,wind_speed,temperature,rel_humidity,precipitation
0,1.0,2016-10-18 06:00:00,0.0,13.0,0.0,13.0,0.0,0.0,0.0,0.0,...,0.0,0.0,13.0,1012.5,1017.5,128,1.6,23.4,73,0.0
1,1.0,2016-10-18 06:00:00,1.0,37.0,0.0,24.0,6.0,2.0,0.0,5.0,...,15.0,22.0,0.0,1012.5,1017.5,128,1.6,23.4,73,0.0
2,2.0,2016-10-18 06:00:00,0.0,24.0,0.0,17.0,7.0,0.0,0.0,0.0,...,0.0,0.0,24.0,1012.5,1017.5,128,1.6,23.4,73,0.0
3,3.0,2016-10-18 06:00:00,0.0,30.0,0.0,19.0,11.0,0.0,0.0,0.0,...,0.0,0.0,30.0,1012.5,1017.5,128,1.6,23.4,73,0.0
4,3.0,2016-10-18 06:00:00,1.0,23.0,0.0,16.0,1.0,3.0,1.0,2.0,...,11.0,12.0,0.0,1012.5,1017.5,128,1.6,23.4,73,0.0

In [13]:
volume_weather_travel_time = volume_weather.merge(avg_traveltime_data, left_on='time_window', right_on='time_window', how='outer')

In [14]:
volume_weather_travel_time.describe(include = 'all').transpose()

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
tollgate_id,840,NaN,NaN,NaN,2,0.89496,1,1,2,3,3
time_window,1176,504,2016-10-18 17:40:00,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
direction,840,NaN,NaN,NaN,0.4,0.49019,0,0,0,1,1
volume,840,NaN,NaN,NaN,35.0488,43.1946,0,0,3.5,70,171
volume_model0,840,NaN,NaN,NaN,0.0297619,0.563338,0,0,0,0,16
volume_model1,840,NaN,NaN,NaN,30.044,37.634,0,0,2,60,159
volume_model2,840,NaN,NaN,NaN,3.57619,5.54891,0,0,0,5,35
volume_model3,840,NaN,NaN,NaN,0.538095,1.14855,0,0,0,1,10
volume_model4,840,NaN,NaN,NaN,0.455952,1.02784,0,0,0,1,9
volume_model5,840,NaN,NaN,NaN,0.378571,1.01103,0,0,0,0,8
volume_model6,840,NaN,NaN,NaN,0.0047619,0.0688831,0,0,0,0,1
volume_model7,840,NaN,NaN,NaN,0.0214286,0.152899,0,0,0,0,2
volume_etc0,840,NaN,NaN,NaN,25.675,31.239,0,0,2,50.25,123
volume_etc1,840,NaN,NaN,NaN,9.37381,12.7498,0,0,0,17,61
volume_type0,840,NaN,NaN,NaN,12.1274,27.7217,0,0,0,0,126
volume_type1,840,NaN,NaN,NaN,3.00952,6.6839,0,0,0,0,33
volume_type2,840,NaN,NaN,NaN,19.9119,37.1002,0,0,0,26.25,171
pressure,1176,NaN,NaN,NaN,1008.4,3.55712,999.4,1005.8,1008.5,1011.25,1015.2
sea_pressure,1176,NaN,NaN,NaN,1013.39,3.57199,1004.3,1010.8,1013.5,1016.25,1020.3
wind_direction,1176,NaN,NaN,NaN,168.036,118.755,0,86,117,326,357
wind_speed,1176,NaN,NaN,NaN,2.19082,1.08376,0.5,1.4,2,2.8,6
temperature,1176,NaN,NaN,NaN,21.2911,1.19603,19.2,20.6,21,21.7,24.5
rel_humidity,1176,NaN,NaN,NaN,91.5714,7.72352,68,91,94.5,96,98
precipitation,1176,NaN,NaN,NaN,0.450765,0.74554,0,0,0.1,0.8,3.3
A2,420,NaN,NaN,NaN,65.6571,16.2711,33.68,54,63.925,75.3125,106.66
A3,420,NaN,NaN,NaN,132.632,35.496,69.48,107.493,125.145,147.41,233.68
B1,420,NaN,NaN,NaN,122.794,28.317,48.68,106.482,118.86,143.072,227.35
B3,420,NaN,NaN,NaN,100.998,21.3908,48.07,85.035,102.355,111.975,149.42
C1,420,NaN,NaN,NaN,187.464,42.32,96.81,161.903,181.26,204.623,352.44
C3,420,NaN,NaN,NaN,172.839,72.759,92.89,141.097,163.81,182.373,717.25

In [15]:
volume_weather_travel_time['volume_model3'] = volume_weather_travel_time['volume_model3'] + volume_weather_travel_time['volume_model4'] + volume_weather_travel_time['volume_model5']+ volume_weather_travel_time['volume_model6']+ volume_weather_travel_time['volume_model7']

In [16]:
volume_weather_travel_time.drop(['volume_model4'], axis=1, inplace=True)
volume_weather_travel_time.drop(['volume_model5'], axis=1, inplace=True)
volume_weather_travel_time.drop(['volume_model6'], axis=1, inplace=True)
volume_weather_travel_time.drop(['volume_model7'], axis=1, inplace=True)

In [17]:
volume_weather_travel_time.head()

,tollgate_id,time_window,direction,volume,volume_model0,volume_model1,volume_model2,volume_model3,volume_etc0,volume_etc1,...,wind_speed,temperature,rel_humidity,precipitation,A2,A3,B1,B3,C1,C3
0,1.0,2016-10-18 06:00:00,0.0,13.0,0.0,13.0,0.0,0.0,11.0,2.0,...,1.6,23.4,73,0.0,41.1,69.48,57.82,54.75,145.35,139.53
1,1.0,2016-10-18 06:00:00,1.0,37.0,0.0,24.0,6.0,7.0,34.0,3.0,...,1.6,23.4,73,0.0,41.1,69.48,57.82,54.75,145.35,139.53
2,2.0,2016-10-18 06:00:00,0.0,24.0,0.0,17.0,7.0,0.0,20.0,4.0,...,1.6,23.4,73,0.0,41.1,69.48,57.82,54.75,145.35,139.53
3,3.0,2016-10-18 06:00:00,0.0,30.0,0.0,19.0,11.0,0.0,23.0,7.0,...,1.6,23.4,73,0.0,41.1,69.48,57.82,54.75,145.35,139.53
4,3.0,2016-10-18 06:00:00,1.0,23.0,0.0,16.0,1.0,6.0,21.0,2.0,...,1.6,23.4,73,0.0,41.1,69.48,57.82,54.75,145.35,139.53

In [18]:
volume_weather_travel_time['dayofweek'] = pd.DatetimeIndex(volume_weather_travel_time['time_window']).dayofweek
(volume_weather_travel_time['time_window'] >= '2016-09-19 00:00:00') & (volume_weather_travel_time['time_window'] < '2016-10-08 00:00:00')
volume_weather_travel_time.loc[(volume_weather_travel_time['time_window'] >= '2016-10-01 00:00:00') & (volume_weather_travel_time['time_window'] < '2016-10-08 00:00:00'), 'dayofweek'] = 7
volume_weather_travel_time.loc[(volume_weather_travel_time['time_window'] >= '2016-10-08 00:00:00') & (volume_weather_travel_time['time_window'] < '2016-10-09 00:00:00'), 'dayofweek'] = 0
volume_weather_travel_time.loc[(volume_weather_travel_time['time_window'] >= '2016-10-09 00:00:00') & (volume_weather_travel_time['time_window'] < '2016-10-10 00:00:00'), 'dayofweek'] = 1
volume_weather_travel_time.loc[(volume_weather_travel_time['dayofweek'] >= 0) & (volume_weather_travel_time['dayofweek'] <= 3), 'dayofweek'] = 0
volume_weather_travel_time.loc[volume_weather_travel_time['dayofweek'] == 4, 'dayofweek'] = 1
volume_weather_travel_time.loc[(volume_weather_travel_time['dayofweek'] == 5) | (volume_weather_travel_time['dayofweek'] == 6), 'dayofweek'] = 2
volume_weather_travel_time.loc[volume_weather_travel_time['dayofweek'] == 7, 'dayofweek'] = 3

In [19]:
volume_weather_travel_time['hour'] = pd.DatetimeIndex(volume_weather_travel_time['time_window']).hour

In [20]:
volume_weather_travel_time['hour'] = pd.DatetimeIndex(volume_weather_travel_time['time_window']).hour
volume_weather_travel_time.loc[(volume_weather_travel_time['hour'] >= 1) & (volume_weather_travel_time['hour'] < 6), 'hour'] = 1
volume_weather_travel_time.loc[(volume_weather_travel_time['hour'] >= 22) & (volume_weather_travel_time['hour'] < 24), 'hour'] = 1
volume_weather_travel_time.loc[(volume_weather_travel_time['hour'] >= 10) & (volume_weather_travel_time['hour'] < 13), 'hour'] = 2
volume_weather_travel_time.loc[(volume_weather_travel_time['hour'] >= 13) & (volume_weather_travel_time['hour'] <= 17), 'hour'] = 3

In [21]:
volume_weather_travel_time.head()

,tollgate_id,time_window,direction,volume,volume_model0,volume_model1,volume_model2,volume_model3,volume_etc0,volume_etc1,...,rel_humidity,precipitation,A2,A3,B1,B3,C1,C3,dayofweek,hour
0,1.0,2016-10-18 06:00:00,0.0,13.0,0.0,13.0,0.0,0.0,11.0,2.0,...,73,0.0,41.1,69.48,57.82,54.75,145.35,139.53,0,6
1,1.0,2016-10-18 06:00:00,1.0,37.0,0.0,24.0,6.0,7.0,34.0,3.0,...,73,0.0,41.1,69.48,57.82,54.75,145.35,139.53,0,6
2,2.0,2016-10-18 06:00:00,0.0,24.0,0.0,17.0,7.0,0.0,20.0,4.0,...,73,0.0,41.1,69.48,57.82,54.75,145.35,139.53,0,6
3,3.0,2016-10-18 06:00:00,0.0,30.0,0.0,19.0,11.0,0.0,23.0,7.0,...,73,0.0,41.1,69.48,57.82,54.75,145.35,139.53,0,6
4,3.0,2016-10-18 06:00:00,1.0,23.0,0.0,16.0,1.0,6.0,21.0,2.0,...,73,0.0,41.1,69.48,57.82,54.75,145.35,139.53,0,6

In [22]:
volume_weather_travel_time.to_csv(test_path + 'backup2.csv')

In [23]:
volume_weather_travel_time.drop(['volume_type2'], axis=1, inplace=True)

In [24]:
data_1_0 = volume_weather_travel_time[(volume_weather_travel_time['tollgate_id'] == 1) & (volume_weather_travel_time['direction'] == 0)]
data_1_1 = volume_weather_travel_time[(volume_weather_travel_time['tollgate_id'] == 1) & (volume_weather_travel_time['direction'] == 1)]
data_2_0 = volume_weather_travel_time[(volume_weather_travel_time['tollgate_id'] == 2) & (volume_weather_travel_time['direction'] == 0)]
data_3_0 = volume_weather_travel_time[(volume_weather_travel_time['tollgate_id'] == 3) & (volume_weather_travel_time['direction'] == 0)]
data_3_1 = volume_weather_travel_time[(volume_weather_travel_time['tollgate_id'] == 3) & (volume_weather_travel_time['direction'] == 1)]

In [25]:
data_1_0 = data_1_0.set_index('time_window')
data_1_1 = data_1_1.set_index('time_window')
data_2_0 = data_2_0.set_index('time_window')
data_3_0 = data_3_0.set_index('time_window')
data_3_1 = data_3_1.set_index('time_window')

In [26]:
data_1_0.drop(['tollgate_id', 'direction'], axis=1, inplace=True)
data_1_1.drop(['tollgate_id', 'direction'], axis=1, inplace=True)
data_2_0.drop(['tollgate_id', 'direction'], axis=1, inplace=True)
data_3_0.drop(['tollgate_id', 'direction'], axis=1, inplace=True)
data_3_1.drop(['tollgate_id', 'direction'], axis=1, inplace=True)

In [27]:
index = volume_weather_travel_time[volume_weather_travel_time['tollgate_id']==3][volume_weather_travel_time['direction']==1]['time_window'].as_matrix()

/Users/Solomon/anaconda3/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':

In [28]:
shift_6 = pd.DataFrame({'volume_1_0_6': data_1_0['volume'].shift(6).as_matrix(), 'volume_1_1_6': data_1_1['volume'].shift(6).as_matrix(), 'volume_2_0_6': data_2_0['volume'].shift(6).as_matrix(), 'volume_3_0_6': data_3_0['volume'].shift(6).as_matrix(), 'volume_3_1_6': data_3_1['volume'].shift(6).as_matrix(),
    'vm0_1_0_6': data_1_0['volume_model0'].shift(6).as_matrix(), 'vm0_1_1_6': data_1_1['volume_model0'].shift(6).as_matrix(), 'vm0_2_0_6': data_2_0['volume_model0'].shift(6).as_matrix(), 'vm0_3_0_6': data_3_0['volume_model0'].shift(6).as_matrix(), 'vm0_3_1_6': data_3_1['volume_model0'].shift(6).as_matrix(),
                                'vm1_1_0_6': data_1_0['volume_model1'].shift(6).as_matrix(), 'vm1_1_1_6': data_1_1['volume_model1'].shift(6).as_matrix(), 'vm1_2_0_6': data_2_0['volume_model1'].shift(6).as_matrix(), 'vm1_3_0_6': data_3_0['volume_model1'].shift(6).as_matrix(), 'vm1_3_1_6': data_3_1['volume_model1'].shift(6).as_matrix(),
                               'vm2_1_0_6': data_1_0['volume_model2'].shift(6).as_matrix(), 'vm2_1_1_6': data_1_1['volume_model2'].shift(6).as_matrix(), 'vm2_2_0_6': data_2_0['volume_model2'].shift(6).as_matrix(), 'vm2_3_0_6': data_3_0['volume_model2'].shift(6).as_matrix(), 'vm2_3_1_6': data_3_1['volume_model2'].shift(6).as_matrix(),
                               'vm3_1_0_6': data_1_0['volume_model3'].shift(6).as_matrix(), 'vm3_1_1_6': data_1_1['volume_model3'].shift(6).as_matrix(), 'vm3_2_0_6': data_2_0['volume_model3'].shift(6).as_matrix(), 'vm3_3_0_6': data_3_0['volume_model3'].shift(6).as_matrix(), 'vm3_3_1_6': data_3_1['volume_model3'].shift(6).as_matrix(),
                               've0_1_0_6': data_1_0['volume_etc0'].shift(6).as_matrix(), 've0_1_1_6': data_1_1['volume_etc0'].shift(6).as_matrix(), 've0_2_0_6': data_2_0['volume_etc0'].shift(6).as_matrix(), 've0_3_0_6': data_3_0['volume_etc0'].shift(6).as_matrix(), 've0_3_1_6': data_3_1['volume_etc0'].shift(6).as_matrix(),
                               've1_1_0_6': data_1_0['volume_etc1'].shift(6).as_matrix(), 've1_1_1_6': data_1_1['volume_etc1'].shift(6).as_matrix(), 've1_2_0_6': data_2_0['volume_etc1'].shift(6).as_matrix(), 've1_3_0_6': data_3_0['volume_etc1'].shift(6).as_matrix(), 've1_3_1_6': data_3_1['volume_etc1'].shift(6).as_matrix(),
                               'vt0_1_0_6': data_1_0['volume_type0'].shift(6).as_matrix(), 'vt0_1_1_6': data_1_1['volume_type0'].shift(6).as_matrix(), 'vt0_2_0_6': data_2_0['volume_type0'].shift(6).as_matrix(), 'vt0_3_0_6': data_3_0['volume_type0'].shift(6).as_matrix(), 'vt0_3_1_6': data_3_1['volume_type0'].shift(6).as_matrix(),
                               'vt1_1_0_6': data_1_0['volume_type1'].shift(6).as_matrix(), 'vt1_1_1_6': data_1_1['volume_type1'].shift(6).as_matrix(), 'vt1_2_0_6': data_2_0['volume_type1'].shift(6).as_matrix(), 'vt1_3_0_6': data_3_0['volume_type1'].shift(6).as_matrix(), 'vt1_3_1_6': data_3_1['volume_type1'].shift(6).as_matrix(),
                       'A2_6': data_1_0['A2'].shift(6).as_matrix(), 'A3_6': data_1_0['A3'].shift(6).as_matrix(), 'B1_6': data_1_0['B1'].shift(6).as_matrix(), 'B3_6': data_1_0['B3'].shift(6).as_matrix(), 'C1_6': data_1_0['C1'].shift(6).as_matrix(), 'C3_6': data_1_0['C3'].shift(6).as_matrix()},index = index)

In [29]:
shift_5 = pd.DataFrame({'volume_1_0_5': data_1_0['volume'].shift(5).as_matrix(), 'volume_1_1_5': data_1_1['volume'].shift(5).as_matrix(), 'volume_2_0_5': data_2_0['volume'].shift(5).as_matrix(), 'volume_3_0_5': data_3_0['volume'].shift(5).as_matrix(), 'volume_3_1_5': data_3_1['volume'].shift(5).as_matrix(),
                        'vm0_1_0_5': data_1_0['volume_model0'].shift(5).as_matrix(), 'vm0_1_1_5': data_1_1['volume_model0'].shift(5).as_matrix(), 'vm0_2_0_5': data_2_0['volume_model0'].shift(5).as_matrix(), 'vm0_3_0_5': data_3_0['volume_model0'].shift(5).as_matrix(), 'vm0_3_1_5': data_3_1['volume_model0'].shift(5).as_matrix(),
                                'vm1_1_0_5': data_1_0['volume_model1'].shift(5).as_matrix(), 'vm1_1_1_5': data_1_1['volume_model1'].shift(5).as_matrix(), 'vm1_2_0_5': data_2_0['volume_model1'].shift(5).as_matrix(), 'vm1_3_0_5': data_3_0['volume_model1'].shift(5).as_matrix(), 'vm1_3_1_5': data_3_1['volume_model1'].shift(5).as_matrix(),
                               'vm2_1_0_5': data_1_0['volume_model2'].shift(5).as_matrix(), 'vm2_1_1_5': data_1_1['volume_model2'].shift(5).as_matrix(), 'vm2_2_0_5': data_2_0['volume_model2'].shift(5).as_matrix(), 'vm2_3_0_5': data_3_0['volume_model2'].shift(5).as_matrix(), 'vm2_3_1_5': data_3_1['volume_model2'].shift(5).as_matrix(),
                               'vm3_1_0_5': data_1_0['volume_model3'].shift(5).as_matrix(), 'vm3_1_1_5': data_1_1['volume_model3'].shift(5).as_matrix(), 'vm3_2_0_5': data_2_0['volume_model3'].shift(5).as_matrix(), 'vm3_3_0_5': data_3_0['volume_model3'].shift(5).as_matrix(), 'vm3_3_1_5': data_3_1['volume_model3'].shift(5).as_matrix(),
                               've0_1_0_5': data_1_0['volume_etc0'].shift(5).as_matrix(), 've0_1_1_5': data_1_1['volume_etc0'].shift(5).as_matrix(), 've0_2_0_5': data_2_0['volume_etc0'].shift(5).as_matrix(), 've0_3_0_5': data_3_0['volume_etc0'].shift(5).as_matrix(), 've0_3_1_5': data_3_1['volume_etc0'].shift(5).as_matrix(),
                               've1_1_0_5': data_1_0['volume_etc1'].shift(5).as_matrix(), 've1_1_1_5': data_1_1['volume_etc1'].shift(5).as_matrix(), 've1_2_0_5': data_2_0['volume_etc1'].shift(5).as_matrix(), 've1_3_0_5': data_3_0['volume_etc1'].shift(5).as_matrix(), 've1_3_1_5': data_3_1['volume_etc1'].shift(5).as_matrix(),
                               'vt0_1_0_5': data_1_0['volume_type0'].shift(5).as_matrix(), 'vt0_1_1_5': data_1_1['volume_type0'].shift(5).as_matrix(), 'vt0_2_0_5': data_2_0['volume_type0'].shift(5).as_matrix(), 'vt0_3_0_5': data_3_0['volume_type0'].shift(5).as_matrix(), 'vt0_3_1_5': data_3_1['volume_type0'].shift(5).as_matrix(),
                               'vt1_1_0_5': data_1_0['volume_type1'].shift(5).as_matrix(), 'vt1_1_1_5': data_1_1['volume_type1'].shift(5).as_matrix(), 'vt1_2_0_5': data_2_0['volume_type1'].shift(5).as_matrix(), 'vt1_3_0_5': data_3_0['volume_type1'].shift(5).as_matrix(), 'vt1_3_1_5': data_3_1['volume_type1'].shift(5).as_matrix(),
                       'A2_5': data_1_0['A2'].shift(5).as_matrix(), 'A3_5': data_1_0['A3'].shift(5).as_matrix(), 'B1_5': data_1_0['B1'].shift(5).as_matrix(), 'B3_5': data_1_0['B3'].shift(5).as_matrix(), 'C1_5': data_1_0['C1'].shift(5).as_matrix(), 'C3_5': data_1_0['C3'].shift(5).as_matrix()},index = index)

In [30]:
shift_4 = pd.DataFrame({'volume_1_0_4': data_1_0['volume'].shift(4).as_matrix(), 'volume_1_1_4': data_1_1['volume'].shift(4).as_matrix(), 'volume_2_0_4': data_2_0['volume'].shift(4).as_matrix(), 'volume_3_0_4': data_3_0['volume'].shift(4).as_matrix(), 'volume_3_1_4': data_3_1['volume'].shift(4).as_matrix(),
                        'vm0_1_0_4': data_1_0['volume_model0'].shift(4).as_matrix(), 'vm0_1_1_4': data_1_1['volume_model0'].shift(4).as_matrix(), 'vm0_2_0_4': data_2_0['volume_model0'].shift(4).as_matrix(), 'vm0_3_0_4': data_3_0['volume_model0'].shift(4).as_matrix(), 'vm0_3_1_4': data_3_1['volume_model0'].shift(4).as_matrix(),
                                'vm1_1_0_4': data_1_0['volume_model1'].shift(4).as_matrix(), 'vm1_1_1_4': data_1_1['volume_model1'].shift(4).as_matrix(), 'vm1_2_0_4': data_2_0['volume_model1'].shift(4).as_matrix(), 'vm1_3_0_4': data_3_0['volume_model1'].shift(4).as_matrix(), 'vm1_3_1_4': data_3_1['volume_model1'].shift(4).as_matrix(),
                               'vm2_1_0_4': data_1_0['volume_model2'].shift(4).as_matrix(), 'vm2_1_1_4': data_1_1['volume_model2'].shift(4).as_matrix(), 'vm2_2_0_4': data_2_0['volume_model2'].shift(4).as_matrix(), 'vm2_3_0_4': data_3_0['volume_model2'].shift(4).as_matrix(), 'vm2_3_1_4': data_3_1['volume_model2'].shift(4).as_matrix(),
                               'vm3_1_0_4': data_1_0['volume_model3'].shift(4).as_matrix(), 'vm3_1_1_4': data_1_1['volume_model3'].shift(4).as_matrix(), 'vm3_2_0_4': data_2_0['volume_model3'].shift(4).as_matrix(), 'vm3_3_0_4': data_3_0['volume_model3'].shift(4).as_matrix(), 'vm3_3_1_4': data_3_1['volume_model3'].shift(4).as_matrix(),
                               've0_1_0_4': data_1_0['volume_etc0'].shift(4).as_matrix(), 've0_1_1_4': data_1_1['volume_etc0'].shift(4).as_matrix(), 've0_2_0_4': data_2_0['volume_etc0'].shift(4).as_matrix(), 've0_3_0_4': data_3_0['volume_etc0'].shift(4).as_matrix(), 've0_3_1_4': data_3_1['volume_etc0'].shift(4).as_matrix(),
                               've1_1_0_4': data_1_0['volume_etc1'].shift(4).as_matrix(), 've1_1_1_4': data_1_1['volume_etc1'].shift(4).as_matrix(), 've1_2_0_4': data_2_0['volume_etc1'].shift(4).as_matrix(), 've1_3_0_4': data_3_0['volume_etc1'].shift(4).as_matrix(), 've1_3_1_4': data_3_1['volume_etc1'].shift(4).as_matrix(),
                               'vt0_1_0_4': data_1_0['volume_type0'].shift(4).as_matrix(), 'vt0_1_1_4': data_1_1['volume_type0'].shift(4).as_matrix(), 'vt0_2_0_4': data_2_0['volume_type0'].shift(4).as_matrix(), 'vt0_3_0_4': data_3_0['volume_type0'].shift(4).as_matrix(), 'vt0_3_1_4': data_3_1['volume_type0'].shift(4).as_matrix(),
                               'vt1_1_0_4': data_1_0['volume_type1'].shift(4).as_matrix(), 'vt1_1_1_4': data_1_1['volume_type1'].shift(4).as_matrix(), 'vt1_2_0_4': data_2_0['volume_type1'].shift(4).as_matrix(), 'vt1_3_0_4': data_3_0['volume_type1'].shift(4).as_matrix(), 'vt1_3_1_4': data_3_1['volume_type1'].shift(4).as_matrix(),
                       'A2_4': data_1_0['A2'].shift(4).as_matrix(), 'A3_4': data_1_0['A3'].shift(4).as_matrix(), 'B1_4': data_1_0['B1'].shift(4).as_matrix(), 'B3_4': data_1_0['B3'].shift(4).as_matrix(), 'C1_4': data_1_0['C1'].shift(4).as_matrix(), 'C3_4': data_1_0['C3'].shift(4).as_matrix()},index = index)

In [31]:
shift_3 = pd.DataFrame({'volume_1_0_3': data_1_0['volume'].shift(3).as_matrix(), 'volume_1_1_3': data_1_1['volume'].shift(3).as_matrix(), 'volume_2_0_3': data_2_0['volume'].shift(3).as_matrix(), 'volume_3_0_3': data_3_0['volume'].shift(3).as_matrix(), 'volume_3_1_3': data_3_1['volume'].shift(3).as_matrix(),
                        'vm0_1_0_3': data_1_0['volume_model0'].shift(3).as_matrix(), 'vm0_1_1_3': data_1_1['volume_model0'].shift(3).as_matrix(), 'vm0_2_0_3': data_2_0['volume_model0'].shift(3).as_matrix(), 'vm0_3_0_3': data_3_0['volume_model0'].shift(3).as_matrix(), 'vm0_3_1_3': data_3_1['volume_model0'].shift(3).as_matrix(),
                                'vm1_1_0_3': data_1_0['volume_model1'].shift(3).as_matrix(), 'vm1_1_1_3': data_1_1['volume_model1'].shift(3).as_matrix(), 'vm1_2_0_3': data_2_0['volume_model1'].shift(3).as_matrix(), 'vm1_3_0_3': data_3_0['volume_model1'].shift(3).as_matrix(), 'vm1_3_1_3': data_3_1['volume_model1'].shift(3).as_matrix(),
                               'vm2_1_0_3': data_1_0['volume_model2'].shift(3).as_matrix(), 'vm2_1_1_3': data_1_1['volume_model2'].shift(3).as_matrix(), 'vm2_2_0_3': data_2_0['volume_model2'].shift(3).as_matrix(), 'vm2_3_0_3': data_3_0['volume_model2'].shift(3).as_matrix(), 'vm2_3_1_3': data_3_1['volume_model2'].shift(3).as_matrix(),
                               'vm3_1_0_3': data_1_0['volume_model3'].shift(3).as_matrix(), 'vm3_1_1_3': data_1_1['volume_model3'].shift(3).as_matrix(), 'vm3_2_0_3': data_2_0['volume_model3'].shift(3).as_matrix(), 'vm3_3_0_3': data_3_0['volume_model3'].shift(3).as_matrix(), 'vm3_3_1_3': data_3_1['volume_model3'].shift(3).as_matrix(),
                               've0_1_0_3': data_1_0['volume_etc0'].shift(3).as_matrix(), 've0_1_1_3': data_1_1['volume_etc0'].shift(3).as_matrix(), 've0_2_0_3': data_2_0['volume_etc0'].shift(3).as_matrix(), 've0_3_0_3': data_3_0['volume_etc0'].shift(3).as_matrix(), 've0_3_1_3': data_3_1['volume_etc0'].shift(3).as_matrix(),
                               've1_1_0_3': data_1_0['volume_etc1'].shift(3).as_matrix(), 've1_1_1_3': data_1_1['volume_etc1'].shift(3).as_matrix(), 've1_2_0_3': data_2_0['volume_etc1'].shift(3).as_matrix(), 've1_3_0_3': data_3_0['volume_etc1'].shift(3).as_matrix(), 've1_3_1_3': data_3_1['volume_etc1'].shift(3).as_matrix(),
                               'vt0_1_0_3': data_1_0['volume_type0'].shift(3).as_matrix(), 'vt0_1_1_3': data_1_1['volume_type0'].shift(3).as_matrix(), 'vt0_2_0_3': data_2_0['volume_type0'].shift(3).as_matrix(), 'vt0_3_0_3': data_3_0['volume_type0'].shift(3).as_matrix(), 'vt0_3_1_3': data_3_1['volume_type0'].shift(3).as_matrix(),
                               'vt1_1_0_3': data_1_0['volume_type1'].shift(3).as_matrix(), 'vt1_1_1_3': data_1_1['volume_type1'].shift(3).as_matrix(), 'vt1_2_0_3': data_2_0['volume_type1'].shift(3).as_matrix(), 'vt1_3_0_3': data_3_0['volume_type1'].shift(3).as_matrix(), 'vt1_3_1_3': data_3_1['volume_type1'].shift(3).as_matrix(),
                       'A2_3': data_1_0['A2'].shift(3).as_matrix(), 'A3_3': data_1_0['A3'].shift(3).as_matrix(), 'B1_3': data_1_0['B1'].shift(3).as_matrix(), 'B3_3': data_1_0['B3'].shift(3).as_matrix(), 'C1_3': data_1_0['C1'].shift(3).as_matrix(), 'C3_3': data_1_0['C3'].shift(3).as_matrix()},index = index)

In [32]:
shift_2 = pd.DataFrame({'volume_1_0_2': data_1_0['volume'].shift(2).as_matrix(), 'volume_1_1_2': data_1_1['volume'].shift(2).as_matrix(), 'volume_2_0_2': data_2_0['volume'].shift(2).as_matrix(), 'volume_3_0_2': data_3_0['volume'].shift(2).as_matrix(), 'volume_3_1_2': data_3_1['volume'].shift(2).as_matrix(),
                        'vm0_1_0_2': data_1_0['volume_model0'].shift(2).as_matrix(), 'vm0_1_1_2': data_1_1['volume_model0'].shift(2).as_matrix(), 'vm0_2_0_2': data_2_0['volume_model0'].shift(2).as_matrix(), 'vm0_3_0_2': data_3_0['volume_model0'].shift(2).as_matrix(), 'vm0_3_1_2': data_3_1['volume_model0'].shift(2).as_matrix(),
                                'vm1_1_0_2': data_1_0['volume_model1'].shift(2).as_matrix(), 'vm1_1_1_2': data_1_1['volume_model1'].shift(2).as_matrix(), 'vm1_2_0_2': data_2_0['volume_model1'].shift(2).as_matrix(), 'vm1_3_0_2': data_3_0['volume_model1'].shift(2).as_matrix(), 'vm1_3_1_2': data_3_1['volume_model1'].shift(2).as_matrix(),
                               'vm2_1_0_2': data_1_0['volume_model2'].shift(2).as_matrix(), 'vm2_1_1_2': data_1_1['volume_model2'].shift(2).as_matrix(), 'vm2_2_0_2': data_2_0['volume_model2'].shift(2).as_matrix(), 'vm2_3_0_2': data_3_0['volume_model2'].shift(2).as_matrix(), 'vm2_3_1_2': data_3_1['volume_model2'].shift(2).as_matrix(),
                               'vm3_1_0_2': data_1_0['volume_model3'].shift(2).as_matrix(), 'vm3_1_1_2': data_1_1['volume_model3'].shift(2).as_matrix(), 'vm3_2_0_2': data_2_0['volume_model3'].shift(2).as_matrix(), 'vm3_3_0_2': data_3_0['volume_model3'].shift(2).as_matrix(), 'vm3_3_1_2': data_3_1['volume_model3'].shift(2).as_matrix(),
                               've0_1_0_2': data_1_0['volume_etc0'].shift(2).as_matrix(), 've0_1_1_2': data_1_1['volume_etc0'].shift(2).as_matrix(), 've0_2_0_2': data_2_0['volume_etc0'].shift(2).as_matrix(), 've0_3_0_2': data_3_0['volume_etc0'].shift(2).as_matrix(), 've0_3_1_2': data_3_1['volume_etc0'].shift(2).as_matrix(),
                               've1_1_0_2': data_1_0['volume_etc1'].shift(2).as_matrix(), 've1_1_1_2': data_1_1['volume_etc1'].shift(2).as_matrix(), 've1_2_0_2': data_2_0['volume_etc1'].shift(2).as_matrix(), 've1_3_0_2': data_3_0['volume_etc1'].shift(2).as_matrix(), 've1_3_1_2': data_3_1['volume_etc1'].shift(2).as_matrix(),
                               'vt0_1_0_2': data_1_0['volume_type0'].shift(2).as_matrix(), 'vt0_1_1_2': data_1_1['volume_type0'].shift(2).as_matrix(), 'vt0_2_0_2': data_2_0['volume_type0'].shift(2).as_matrix(), 'vt0_3_0_2': data_3_0['volume_type0'].shift(2).as_matrix(), 'vt0_3_1_2': data_3_1['volume_type0'].shift(2).as_matrix(),
                               'vt1_1_0_2': data_1_0['volume_type1'].shift(2).as_matrix(), 'vt1_1_1_2': data_1_1['volume_type1'].shift(2).as_matrix(), 'vt1_2_0_2': data_2_0['volume_type1'].shift(2).as_matrix(), 'vt1_3_0_2': data_3_0['volume_type1'].shift(2).as_matrix(), 'vt1_3_1_2': data_3_1['volume_type1'].shift(2).as_matrix(),
                       'A2_2': data_1_0['A2'].shift(2).as_matrix(), 'A3_2': data_1_0['A3'].shift(2).as_matrix(), 'B1_2': data_1_0['B1'].shift(2).as_matrix(), 'B3_2': data_1_0['B3'].shift(2).as_matrix(), 'C1_2': data_1_0['C1'].shift(2).as_matrix(), 'C3_2': data_1_0['C3'].shift(2).as_matrix()},index = index)

In [33]:
shift_1 = pd.DataFrame({'volume_1_0_1': data_1_0['volume'].shift(1).as_matrix(), 'volume_1_1_1': data_1_1['volume'].shift(1).as_matrix(), 'volume_2_0_1': data_2_0['volume'].shift(1).as_matrix(), 'volume_3_0_1': data_3_0['volume'].shift(1).as_matrix(), 'volume_3_1_1': data_3_1['volume'].shift(1).as_matrix(),
                        'vm0_1_0_1': data_1_0['volume_model0'].shift(1).as_matrix(), 'vm0_1_1_1': data_1_1['volume_model0'].shift(1).as_matrix(), 'vm0_2_0_1': data_2_0['volume_model0'].shift(1).as_matrix(), 'vm0_3_0_1': data_3_0['volume_model0'].shift(1).as_matrix(), 'vm0_3_1_1': data_3_1['volume_model0'].shift(1).as_matrix(),
                                'vm1_1_0_1': data_1_0['volume_model1'].shift(1).as_matrix(), 'vm1_1_1_1': data_1_1['volume_model1'].shift(1).as_matrix(), 'vm1_2_0_1': data_2_0['volume_model1'].shift(1).as_matrix(), 'vm1_3_0_1': data_3_0['volume_model1'].shift(1).as_matrix(), 'vm1_3_1_1': data_3_1['volume_model1'].shift(1).as_matrix(),
                               'vm2_1_0_1': data_1_0['volume_model2'].shift(1).as_matrix(), 'vm2_1_1_1': data_1_1['volume_model2'].shift(1).as_matrix(), 'vm2_2_0_1': data_2_0['volume_model2'].shift(1).as_matrix(), 'vm2_3_0_1': data_3_0['volume_model2'].shift(1).as_matrix(), 'vm2_3_1_1': data_3_1['volume_model2'].shift(1).as_matrix(),
                               'vm3_1_0_1': data_1_0['volume_model3'].shift(1).as_matrix(), 'vm3_1_1_1': data_1_1['volume_model3'].shift(1).as_matrix(), 'vm3_2_0_1': data_2_0['volume_model3'].shift(1).as_matrix(), 'vm3_3_0_1': data_3_0['volume_model3'].shift(1).as_matrix(), 'vm3_3_1_1': data_3_1['volume_model3'].shift(1).as_matrix(),
                               've0_1_0_1': data_1_0['volume_etc0'].shift(1).as_matrix(), 've0_1_1_1': data_1_1['volume_etc0'].shift(1).as_matrix(), 've0_2_0_1': data_2_0['volume_etc0'].shift(1).as_matrix(), 've0_3_0_1': data_3_0['volume_etc0'].shift(1).as_matrix(), 've0_3_1_1': data_3_1['volume_etc0'].shift(1).as_matrix(),
                               've1_1_0_1': data_1_0['volume_etc1'].shift(1).as_matrix(), 've1_1_1_1': data_1_1['volume_etc1'].shift(1).as_matrix(), 've1_2_0_1': data_2_0['volume_etc1'].shift(1).as_matrix(), 've1_3_0_1': data_3_0['volume_etc1'].shift(1).as_matrix(), 've1_3_1_1': data_3_1['volume_etc1'].shift(1).as_matrix(),
                               'vt0_1_0_1': data_1_0['volume_type0'].shift(1).as_matrix(), 'vt0_1_1_1': data_1_1['volume_type0'].shift(1).as_matrix(), 'vt0_2_0_1': data_2_0['volume_type0'].shift(1).as_matrix(), 'vt0_3_0_1': data_3_0['volume_type0'].shift(1).as_matrix(), 'vt0_3_1_1': data_3_1['volume_type0'].shift(1).as_matrix(),
                               'vt1_1_0_1': data_1_0['volume_type1'].shift(1).as_matrix(), 'vt1_1_1_1': data_1_1['volume_type1'].shift(1).as_matrix(), 'vt1_2_0_1': data_2_0['volume_type1'].shift(1).as_matrix(), 'vt1_3_0_1': data_3_0['volume_type1'].shift(1).as_matrix(), 'vt1_3_1_1': data_3_1['volume_type1'].shift(1).as_matrix(),
                       'A2_1': data_1_0['A2'].shift(1).as_matrix(), 'A3_1': data_1_0['A3'].shift(1).as_matrix(), 'B1_1': data_1_0['B1'].shift(1).as_matrix(), 'B3_1': data_1_0['B3'].shift(1).as_matrix(), 'C1_1': data_1_0['C1'].shift(1).as_matrix(), 'C3_1': data_1_0['C3'].shift(1).as_matrix()},index = index)

In [34]:
shift_1.head()

,A2_1,A3_1,B1_1,B3_1,C1_1,C3_1,ve0_1_0_1,ve0_1_1_1,ve0_2_0_1,ve0_3_0_1,...,vt0_1_0_1,vt0_1_1_1,vt0_2_0_1,vt0_3_0_1,vt0_3_1_1,vt1_1_0_1,vt1_1_1_1,vt1_2_0_1,vt1_3_0_1,vt1_3_1_1
2016-10-18 06:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-10-18 06:20:00,41.10,69.48,57.82,54.75,145.35,139.53,11.0,34.0,20.0,23.0,...,0.0,15.0,0.0,0.0,11.0,0.0,22.0,0.0,0.0,12.0
2016-10-18 06:40:00,43.68,142.01,48.68,121.02,136.22,121.98,12.0,39.0,29.0,38.0,...,0.0,23.0,0.0,0.0,13.0,0.0,24.0,0.0,0.0,16.0
2016-10-18 07:00:00,68.02,233.68,112.52,94.04,147.82,104.42,12.0,62.0,33.0,55.0,...,0.0,41.0,0.0,0.0,32.0,0.0,31.0,0.0,0.0,18.0
2016-10-18 07:20:00,52.61,143.65,97.32,120.60,180.98,182.06,18.0,49.0,47.0,73.0,...,0.0,50.0,0.0,0.0,42.0,0.0,18.0,0.0,0.0,14.0

In [35]:
data_1_0.drop(['A2', 'A3', 'B1', 'B3', 'C1', 'C3'], axis=1, inplace=True)
data_1_1.drop(['A2', 'A3', 'B1', 'B3', 'C1', 'C3'], axis=1, inplace=True)
data_2_0.drop(['A2', 'A3', 'B1', 'B3', 'C1', 'C3'], axis=1, inplace=True)
data_3_0.drop(['A2', 'A3', 'B1', 'B3', 'C1', 'C3'], axis=1, inplace=True)
data_3_1.drop(['A2', 'A3', 'B1', 'B3', 'C1', 'C3'], axis=1, inplace=True)

In [36]:
data_1_0_final = pd.concat([data_1_0, shift_1,shift_2,shift_3,shift_4,shift_5,shift_6], axis=1)
data_1_1_final = pd.concat([data_1_1, shift_1,shift_2,shift_3,shift_4,shift_5,shift_6], axis=1)
data_2_0_final = pd.concat([data_2_0, shift_1,shift_2,shift_3,shift_4,shift_5,shift_6], axis=1)
data_3_0_final = pd.concat([data_3_0, shift_1,shift_2,shift_3,shift_4,shift_5,shift_6], axis=1)
data_3_1_final = pd.concat([data_3_1, shift_1,shift_2,shift_3,shift_4,shift_5,shift_6], axis=1)

In [37]:
data_1_0_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 168 entries, 2016-10-18 06:00:00 to 2016-10-24 18:40:00
Columns: 324 entries, volume to vt1_3_1_6
dtypes: float64(320), int32(2), int64(2)
memory usage: 425.2+ KB

In [38]:
data_1_0_final.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
volume,168.0,17.940476,21.360802,0.00,0.000000,3.500,37.0000,68.00
volume_model0,168.0,0.017857,0.172103,0.00,0.000000,0.000,0.0000,2.00
volume_model1,168.0,16.148810,19.940522,0.00,0.000000,2.000,35.0000,66.00
volume_model2,168.0,1.446429,1.932263,0.00,0.000000,0.000,3.0000,7.00
volume_model3,168.0,0.327381,0.769921,0.00,0.000000,0.000,0.0000,4.00
volume_etc0,168.0,13.107143,15.758292,0.00,0.000000,2.000,27.0000,50.00
volume_etc1,168.0,4.833333,6.154368,0.00,0.000000,0.500,9.0000,23.00
volume_type0,168.0,0.000000,0.000000,0.00,0.000000,0.000,0.0000,0.00
volume_type1,168.0,0.000000,0.000000,0.00,0.000000,0.000,0.0000,0.00
pressure,168.0,1008.158929,3.597093,999.40,1005.800000,1008.050,1011.1000,1013.70
sea_pressure,168.0,1013.151786,3.613447,1004.30,1010.800000,1013.050,1016.1000,1018.70
wind_direction,168.0,172.053571,117.824200,0.00,88.250000,126.500,326.0000,357.00
wind_speed,168.0,2.178571,1.090467,0.50,1.400000,1.950,2.8250,6.00
temperature,168.0,21.366071,1.244717,19.30,20.600000,21.000,22.3000,24.50
rel_humidity,168.0,91.250000,8.245304,68.00,91.000000,94.500,96.0000,98.00
precipitation,168.0,0.450000,0.685784,0.00,0.000000,0.000,1.0000,3.10
dayofweek,168.0,0.714286,0.883263,0.00,0.000000,0.000,2.0000,2.00
hour,168.0,7.125000,4.689378,3.00,3.000000,6.500,8.2500,18.00
A2_1,84.0,65.657123,16.349328,33.68,54.000000,63.925,75.3125,106.66
A3_1,84.0,132.631905,35.666635,69.48,107.492500,125.145,147.4100,233.68
B1_1,84.0,122.793591,28.453093,48.68,106.482500,118.860,143.0725,227.35
B3_1,84.0,100.998452,21.493628,48.07,85.035000,102.355,111.9750,149.42
C1_1,84.0,187.464425,42.523449,96.81,161.902500,181.260,204.6225,352.44
C3_1,84.0,172.838780,73.108842,92.89,141.096667,163.810,182.3725,717.25
ve0_1_0_1,167.0,13.185629,15.772717,0.00,0.000000,4.000,27.0000,50.00
ve0_1_1_1,167.0,30.850299,33.809820,0.00,0.000000,21.000,63.5000,100.00
ve0_2_0_1,167.0,22.700599,25.529221,0.00,0.000000,7.000,50.0000,77.00
ve0_3_0_1,167.0,36.179641,40.593386,0.00,0.000000,15.000,78.0000,123.00
ve0_3_1_1,167.0,26.227545,30.280153,0.00,0.000000,9.000,55.5000,108.00
ve1_1_0_1,167.0,4.862275,6.161400,0.00,0.000000,1.000,9.0000,23.00
...,...,...,...,...,...,...,...,...
vm1_1_0_6,162.0,16.746914,20.059016,0.00,0.000000,6.000,35.0000,66.00
vm1_1_1_6,162.0,35.932099,40.580742,0.00,0.000000,21.000,77.0000,115.00
vm1_2_0_6,162.0,28.722222,32.916278,0.00,0.000000,12.500,58.7500,112.00
vm1_3_0_6,162.0,42.141975,47.878712,0.00,0.000000,15.500,84.7500,159.00
vm1_3_1_6,162.0,32.240741,37.693403,0.00,0.000000,12.000,71.0000,124.00
vm2_1_0_6,162.0,1.500000,1.947287,0.00,0.000000,0.000,3.0000,7.00
vm2_1_1_6,162.0,3.166667,3.820913,0.00,0.000000,2.000,6.0000,17.00
vm2_2_0_6,162.0,3.641975,4.252317,0.00,0.000000,2.000,7.0000,17.00
vm2_3_0_6,162.0,8.314815,9.261871,0.00,0.000000,7.000,15.0000,35.00
vm2_3_1_6,162.0,1.919753,2.439271,0.00,0.000000,1.000,4.0000,11.00
vm3_1_0_6,162.0,0.339506,0.781491,0.00,0.000000,0.000,0.0000,4.00
vm3_1_1_6,162.0,3.080247,3.618411,0.00,0.000000,1.000,6.0000,14.00
vm3_2_0_6,162.0,0.308642,0.549239,0.00,0.000000,0.000,1.0000,2.00
vm3_3_0_6,162.0,1.376543,2.079224,0.00,0.000000,0.000,2.0000,11.00
vm3_3_1_6,162.0,2.148148,2.645099,0.00,0.000000,1.000,4.0000,17.00
volume_1_0_6,162.0,18.604938,21.467398,0.00,0.000000,8.000,37.7500,68.00
volume_1_1_6,162.0,42.179012,45.705634,0.00,0.000000,29.500,87.7500,129.00
volume_2_0_6,162.0,32.691358,36.507003,0.00,0.000000,18.500,69.0000,123.00
volume_3_0_6,162.0,51.950617,57.519622,0.00,0.000000,25.500,107.7500,171.00
volume_3_1_6,162.0,36.308642,41.048416,0.00,0.000000,18.500,79.0000,137.00
vt0_1_0_6,162.0,0.000000,0.000000,0.00,0.000000,0.000,0.0000,0.00
vt0_1_1_6,162.0,32.271605,37.816987,0.00,0.000000,12.500,69.7500,112.00
vt0_2_0_6,162.0,0.000000,0.000000,0.00,0.000000,0.000,0.0000,0.00
vt0_3_0_6,162.0,0.000000,0.000000,0.00,0.000000,0.000,0.0000,0.00
vt0_3_1_6,162.0,30.611111,36.758444,0.00,0.000000,7.500,70.0000,126.00
vt1_1_0_6,162.0,0.000000,0.000000,0.00,0.000000,0.000,0.0000,0.00
vt1_1_1_6,162.0,9.907407,10.423222,0.00,0.000000,8.500,19.0000,33.00
vt1_2_0_6,162.0,0.000000,0.000000,0.00,0.000000,0.000,0.0000,0.00
vt1_3_0_6,162.0,0.000000,0.000000,0.00,0.000000,0.000,0.0000,0.00
vt1_3_1_6,162.0,5.697531,6.323661,0.00,0.000000,4.500,11.0000,30.00

In [39]:
data_1_0_final.head()

,volume,volume_model0,volume_model1,volume_model2,volume_model3,volume_etc0,volume_etc1,volume_type0,volume_type1,pressure,...,vt0_1_0_6,vt0_1_1_6,vt0_2_0_6,vt0_3_0_6,vt0_3_1_6,vt1_1_0_6,vt1_1_1_6,vt1_2_0_6,vt1_3_0_6,vt1_3_1_6
time_window,,,,,,,,,,,,,,,,,,,,,
2016-10-18 06:00:00,13.0,0.0,13.0,0.0,0.0,11.0,2.0,0.0,0.0,1012.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-10-18 06:20:00,17.0,0.0,13.0,4.0,0.0,12.0,5.0,0.0,0.0,1012.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-10-18 06:40:00,21.0,0.0,16.0,3.0,2.0,12.0,9.0,0.0,0.0,1012.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-10-18 07:00:00,31.0,0.0,22.0,7.0,2.0,18.0,13.0,0.0,0.0,1012.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-10-18 07:20:00,28.0,0.0,25.0,3.0,0.0,23.0,5.0,0.0,0.0,1012.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
def remove_unrelated(data):
    day11 = data.ix['2016-10-18 08:00:00': '2016-10-18 09:40:00']
    day21 = data.ix['2016-10-19 08:00:00': '2016-10-19 09:40:00']
    day31 = data.ix['2016-10-20 08:00:00': '2016-10-20 09:40:00']
    day41 = data.ix['2016-10-21 08:00:00': '2016-10-21 09:40:00']
    day51 = data.ix['2016-10-22 08:00:00': '2016-10-22 09:40:00']
    day61 = data.ix['2016-10-23 08:00:00': '2016-10-23 09:40:00']
    day71 = data.ix['2016-10-24 08:00:00': '2016-10-24 09:40:00']

    day12 = data.ix['2016-10-18 17:00:00': '2016-10-18 18:40:00']
    day22 = data.ix['2016-10-19 17:00:00': '2016-10-19 18:40:00']
    day32 = data.ix['2016-10-20 17:00:00': '2016-10-20 18:40:00']
    day42 = data.ix['2016-10-21 17:00:00': '2016-10-21 18:40:00']
    day52 = data.ix['2016-10-22 17:00:00': '2016-10-22 18:40:00']
    day62 = data.ix['2016-10-23 17:00:00': '2016-10-23 18:40:00']
    day72 = data.ix['2016-10-24 17:00:00': '2016-10-24 18:40:00']
    
    return pd.concat([day11, day12, day21, day22, day31, day32, day41, day42, day51, day52, day61, day62, day71, day72], axis=0)


data_1_0_final = remove_unrelated(data_1_0_final)
data_1_1_final = remove_unrelated(data_1_1_final)
data_2_0_final = remove_unrelated(data_2_0_final)
data_3_0_final = remove_unrelated(data_3_0_final)
data_3_1_final = remove_unrelated(data_3_1_final)

In [41]:
data_1_0_final.to_csv(test_path + 'data_1_0_final.csv')
data_1_1_final.to_csv(test_path + 'data_1_1_final.csv')
data_2_0_final.to_csv(test_path + 'data_2_0_final.csv')
data_3_0_final.to_csv(test_path + 'data_3_0_final.csv')
data_3_1_final.to_csv(test_path + 'data_3_1_final.csv')